@model CaseStudyViewModel
           
           @Html.AntiForgeryToken()

<div class="control-group">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="CaseStudy.Name">Name</label>
            <div class="controls">
            @Html.TextBoxFor(a => a.CaseStudy.Name)
            @Html.ValidationMessageFor(a => a.CaseStudy.Name)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CaseStudy.Description">Description</label>
            <div class="controls">
            @Html.TextAreaFor(a => a.CaseStudy.Description)
            @Html.ValidationMessageFor(a => a.CaseStudy.Description)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CaseStudy.File">File</label>
            <div class="controls">
            <input type="file" name='file' id='file' />
            @Html.ValidationMessageFor(a => a.CaseStudy.File)

            @if (Model.CaseStudy.File != null)
            { 
                <text>|</text> @Html.ActionLink("Download Existing File", "Download", new { id=Model.CaseStudy.Id })
            }

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CaseStudy.Session">Session</label>
            <div class="controls">
            @this.Select("CaseStudy.Session").Options(Model.Seminar.Sessions, x => x.Id, x => x.Name).FirstOption("--Select a Session--").Selected(Model.CaseStudy.Session != null ? Model.CaseStudy.Id.ToString() : string.Empty)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CaseStudy.IsPublic">Is Public</label>
            <div class="controls">@Html.CheckBoxFor(a => a.CaseStudy.IsPublic)
                <p class="help-inline">Display the name of this case study publicly</p>
            </div>
        </div>
    </fieldset>
</div>        

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Save"/>                    
    @Html.ActionLink("Cancel", "Edit", "Seminar", new {@id= Model.Seminar.Id}, new {@class="btn"})
    
</div>