@using Resources

@model CaseStudyViewModel

@{
    ViewBag.Title = "Edit Case Study";
    ViewBag.SubPageTitle = "Edit Case Study";
}

@section ScriptContent{
    <script type="text/javascript">
        $(function () { 
            
        });    
    </script>

    <style type="text/css">
        .removePerson
        {
            background:url(@Url.Content("~/Images/delete.png")) no-repeat;
            cursor: pointer;
            border: none;
            width: 24px;
            height: 24px;
        }
    </style>
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to Seminar", "Edit", "Seminar", new { id = Model.Seminar.Id }, new { })</li>
        <li>@Html.ActionLink("Add Author/Case Executive", "AddPerson", new { id = Model.CaseStudy.Id }) </li>
    </ul>
}

@Html.Partial("_CaseStudyForm")

<h3>Author(s)</h3>

@if (Model.CaseStudy.CaseAuthors.Any())
{
    <table id="authors">
        <thead>
            <tr>
                <td></td>
                <td>Author</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.CaseStudy.CaseAuthors)
            { 
                <tr>
                    <td>
                        @using (Html.BeginForm("RemovePerson", "CaseStudy", FormMethod.Post, new { style = "display:inline-block; width: 100%;" }))
                        { 
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", Model.CaseStudy.Id)
                            @Html.Hidden("seminarPersonId", a.Id)
                            @Html.Hidden("personType", StaticIndexes.Role_CaseStudyAuthor)
                            
                            <input type="submit" value="" class="removePerson" />
                        }
                    </td>
                    <td>@a.Person.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No authors have been added yet." })
}

<h3>Case Executive(s)</h3>

@if (Model.CaseStudy.CaseExecutives.Any())
{
    <table id="caseExecutives">
        <thead>
            <tr>
                <td></td>
                <td>Author</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.CaseStudy.CaseExecutives)
            { 
                <tr>
                    <td>
                        @using (Html.BeginForm("RemovePerson", "CaseStudy", FormMethod.Post, new { style = "display:inline-block; width: 100%;" }))
                        { 
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", Model.CaseStudy.Id)
                            @Html.Hidden("seminarPersonId", a.Id)
                            @Html.Hidden("personType", StaticIndexes.Role_CaseExecutive)
                            
                            <input type="submit" value="" class="removePerson" />
                        }
                    </td>
                    <td>@a.Person.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No case executives have been added yet." })
}