@model PersonListViewModel

@{
    ViewBag.Title = "People";
    ViewBag.SubPageTitle = "People";
    ViewBag.PublicProfile = false;
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@section ScriptContent
{
    <style type="text/css">
    
        .filter-container { border-bottom: 1px solid #0068B7; margin-bottom: 1.5em; padding: 1em;}
        .filter-container ul {list-style: none;}
        .filter-container ul li {float: left; margin-left: 20px; display: inline-block; }
        .filter-container .filter-link-container {vertical-align: bottom; height: 20px; border-right: 1px solid #0068B7; }
        .filter-container .filter-link-container .ui-icon {display: inline-block; margin-right: 10px;}
        .filter-container .filter-link-container .ui-icon-nothing {background-image: none; margin-right: 0px;}
        
    </style>
}

<div class="filter-container">

<ul>
    <li>
        <div class="filter-link-container">
        <a href="@Url.Action("Index", new { sortby = "firstname", desc = Model.SortBy == "firstname" && !Model.Desc })">
        
            First Name
            @if (Model.SortBy == "firstname")
            {
                if (Model.Desc)
                {
                    <span class="ui-icon ui-icon-triangle-1-s"></span>
                }
                else
                {
                    <span class="ui-icon ui-icon-triangle-1-n"></span>
                }
            }
            else
            {
                <span class="ui-icon ui-icon-nothing"></span>
            }

        </a>
        </div>
    </li>
    <li>
        <div class="filter-link-container">
        <a href="@Url.Action("Index", new { sortby = "lastname", desc = Model.SortBy == "lastname" && !Model.Desc })">
        
            Last Name
            @if (Model.SortBy == "lastname")
            {
                if (Model.Desc)
                {
                    <span class="ui-icon ui-icon-triangle-1-s"></span>
                }
                else
                {
                    <span class="ui-icon ui-icon-triangle-1-n"></span>
                }
            }
            else
            {
                <span class="ui-icon ui-icon-nothing"></span>
            }

        </a>
        </div>
    </li>
    <li>
        <div class="filter-link-container">
        <a href="@Url.Action("Index", new { sortby = "firm", desc = Model.SortBy == "firm" && !Model.Desc })">
        
            Firm
            @if (Model.SortBy == "firm")
            {
                if (Model.Desc)
                {
                    <span class="ui-icon ui-icon-triangle-1-s"></span>
                }
                else
                {
                    <span class="ui-icon ui-icon-triangle-1-n"></span>
                }
            }
            else
            {
                <span class="ui-icon ui-icon-nothing"></span>
            }

        </a>
        </div>
    </li>
</ul>

<div style="clear:both;"></div>

</div>



@foreach (var a in Model.People)
{ 
    @Html.Partial("_ProfileList", a)
}

<div style="clear: both;">&nbsp;</div>

@Html.Partial("_MailingListAddTo", Model.Seminar)