@model FirmViewModel

@{
    ViewBag.Title = "Edit Firm";
    ViewBag.SubPageTitle = "Edit Firm";
}

<div class="form-horizontal">
    <fieldset>
        <legend>Original Firm Information</legend>

        @if(Model.OrigFirm != null)
        {
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls form-text">@Model.OrigFirm.Name</div>
            </div>
            <div class="control-group">
                <label for="description" class="control-label">Description</label>
                <div class="controls form-text">@Model.OrigFirm.Description</div>
            </div>
        }
        else
        {
            <div class="alert alert-info">There is no old firm information.</div>
        }
        
    </fieldset>
</div>

@using (Html.BeginForm("Edit", "Firm", FormMethod.Post, new {@class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("FirmCode", Model.PendingFirm.FirmCode)
    <input id="decissionId" type="hidden" value="@ViewBag.DecissionId" name="decissionId" />
    
    <fieldset>
        <legend>Modified/New Firm Information</legend>      

        @if (Model.OrigFirm != null && Model.PendingFirm.Review)
        { 
            @Html.ActionLink("Reject Changes", "Reject", new { id = Model.PendingFirm.Id }, new { style = "float:right; margin-right: 20px;" })
        }

            <div class="control-group">
                <label for="name" class="control-label">Name <span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBox("Name", Model.PendingFirm.Name)
                </div>
            </div>
            
            <div class="control-group">
                <label for="description" class="control-label">Description:<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextArea("Description", Model.PendingFirm.Description, new { @class="span6" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @if(@ViewBag.DecissionId != null){
                        @Html.ActionLink("Cancel", "Decide", "SeminarApplication", new { id = @ViewBag.DecissionId }, new {@class="btn"})
                    }
                    else if (@ViewBag.UserId != null)
                    {
                        if (@ViewBag.SeminarId == null)
                        {
                            @Html.ActionLink("Cancel", "AdminEdit", "Person", new { id = @ViewBag.UserId }, new { @class = "btn" })    
                        }
                        else
                        {
                            @Html.ActionLink("Cancel", "AdminEdit", "Person", new { id = @ViewBag.UserId, seminarId = @ViewBag.SeminarId }, new {@class="btn"})    
                        }
                    }
                    else
                    { 
                        @Html.ActionLink("Cancel", "Index", new {@class="btn"})
                    }
                </div>
            </div>
    </fieldset>
}
