@model FirmListViewModel

@{
    ViewBag.Title = "Firms";
    ViewBag.SubPageTitle = "Firms";
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
    
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

<div id="tabs">
    <ul class="nav nav-tabs">
    <li><a href="#pending" data-toggle="tab">Pending</a></li>
    <li><a href="#approved" data-toggle="tab">Approved</a></li>
</ul>

    <div class="tab-content">
    <div class="tab-pane @(Model.PendingFirms.Any() ? "active" : string.Empty)" id="pending">
        @if (Model.PendingFirms.Any())
        {
            @Html.Partial("_FirmTable", Model.PendingFirms)    
        }
        else
        {
            <div class="alert alert-info">
                There are no pending firms.
            </div>
        }
    </div>
    <div class="tab-pane @(!Model.PendingFirms.Any() ? "active" : string.Empty)" id="approved">
        @Html.Partial("_FirmTable", Model.Firms)
    </div>
</div>
</div>