@model TemplateViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>

    <div class="control-group">
        <label for="Template.NotificationType" class="control-label">Notification Type<span class="required">*</span></label>
        <div class="controls">
            @this.Select("Template.NotificationType").Options(Model.NotificationTypes, x=>x.Id, x=>x.Name).FirstOption("--Select a Notification Type--").Selected(Model.Template.NotificationType != null ? Model.Template.NotificationType.Id : string.Empty)
        </div>
    </div>
    <div class="control-group">
        <label for="Template.BodyText" class="control-label">Body Text</label>
        <div class="controls row-fluid">
            <span class="span6">
                @Html.TextAreaFor(model => model.Template.BodyText)
                @Html.ValidationMessageFor(model => model.Template.BodyText)
            </span>
            <span class="span2">
                @Html.Partial("_TemplateTokens")
            </span>
        </div>
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save"/>
        @Html.ActionLink("Cancel", "Index", "Template", new {}, new {@class="btn"})
    </div>
</fieldset>
