@model Template

@{
    ViewBag.Title = "Details";
    ViewBag.SubPageTitle = "Details";
}

@section SubPageNavigation
{
	<ul class="nav nav-pills">
	    <li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
	    <li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@section ScriptContent
{
    <style type="text/css">
        #body-preview {}
        #body-preview hr { border-top: 1px solid black; } 
    </style>
}

<div class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label for="TemplateType.NotificationType.Name" class="control-label">Template Type</label>
            <div class="controls form-text">
                @Model.NotificationType.Name
            </div>
        </div>
        <div class="control-group">
            <label for="IsActive" class="control-label">Is Active</label>
            <div class="controls form-text">
                @(Model.IsActive ? "Active" : "Inactive")
            </div>
        </div>
    </fieldset>
</div>

<div id="body-preview" class="well well-large">
    @Html.Raw(Model.BodyText)
</div>



