@using Agribusiness.Web.Helpers

@model IQueryable<Template>

@{
    ViewBag.Title = "Templates";
    ViewBag.SubPageTitle = "Templates";
}

@section SubPageNavigation
{
	<ul class='nav nav-pills'>
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}

@section ScriptContent
{
    <style type="text/css">
        .bodyText p
        {
            margin: .5em 0;
        }
    </style>
}

@if (!Model.Any())
{
    <div class="well">No templates have been created.</div>
}
else
{
<table class='default_table table table-striped table-bordered'>
	<thead>
		<tr>
			<th></th>
            <th>Type</th>
            <th>Date Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model)
{
		<tr class="@(odd ? "odd" : "even")">
			<td>
				<a href='@Url.Action("Details", new { id = item.Id })' class="btn hastip" title="Details">
					<i class="icon-search"></i>
				</a>
				<a href='@Url.Action("Edit", new { id = item.Id })' class="btn hastip" tite="Edit">
					<i class="icon-pencil"></i>
				</a>
			</td>
			<td>@item.NotificationType.Name</td>
            <td>@item.DateCreated</td>
            <td>
				<a href='@Url.Action("Delete", new { id = item.Id })' class="btn hastip" title="Delete">
					<i class="icon-trash"></i>
				</a>
			</td>
		</tr>
    odd = !odd;
}
	</tbody>
</table>    
}

