@using Agribusiness.Web.Helpers

@model SessionViewModel


<div class="control-group">
<fieldset>
    <div class="control-group">
        <label class="control-label" for="Name">Name</label>
        <div class="controls">
            @Html.EditorFor(a => a.Session.Name)
            @Html.ValidationMessageFor(a => a.Session.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Location">Location</label>
        <div class="controls">
            @Html.EditorFor(a => a.Session.Location)
            @Html.ValidationMessageFor(a => a.Session.Location)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Description">Description</label>            
        <div class="controls">
            @Html.TextAreaFor(a=>a.Session.Description)
            @Html.ValidationMessageFor(a=>a.Session.Description)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Begin">Begin</label>
        <div class="controls">
            @Html.EditorFor(a => a.Session.Begin, "DateAndTime")
            @Html.ValidationMessageFor(a => a.Session.Begin)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="End">End</label>
        <div class="controls">
            @Html.EditorFor(a => a.Session.End, "DateAndTime")
            @Html.ValidationMessageFor(a => a.Session.End)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="SessionType">Session Type</label>
        <div class="controls">
            @this.Select("Session.SessionType").Options(Model.SessionTypes,x=>x.Id,x=>x.Name).Selected(Model.Session.SessionType != null ? Model.Session.SessionType.Id : string.Empty).FirstOptionText("--Select a Session Type--").IncludeUnobtrusiveValidationAttributes(Html)
            @Html.ValidationMessageFor(a => a.Session.SessionType)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ShowPublic">Show Public</label>
        <div class="controls">
            @Html.EditorFor(a=> a.Session.ShowPublic)
        </div>
    </div>
</fieldset>
</div>

<div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save" /> 
    @Html.ActionLink("Cancel", "Edit", "Seminar", new { id = Model.Seminar.Id }, new { @class="btn" })
</div>
