@model InformationRequestNote

@{
	ViewBag.Title = "Add Note";
    ViewBag.SubPagetitle = "Add Note";
    ViewBag.Nav = Nav.Requests;
}

@section SubPageNavigation
{
	<ul class="nav nav-pills">
		<li>@Html.ActionLink("Back to Information Request", "Edit", new { id=Model.InformationRequest.Id })</li>
	</ul>
}

@using (Html.BeginForm("AddNote", "InformationRequest", FormMethod.Post, new {@class="form-horizontal"})) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="Notes">
                    Notes<span class="required">*</span> 
                </label>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Notes)
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>
            </div>                    
        </fieldset>
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save" />
        @Html.ActionLink("Cancel", "Edit", "InformationRequest", new { id=Model.InformationRequest.Id }, new {@class="btn"})
    </div>
}





