@model InformationRequest
@{
    ViewBag.Title = "Edit Information Request";
    ViewBag.SubPageTitle = "Edit Information Request";
}

@section SubPageNavigation
{
	<ul class="nav nav-pills">
		<li>@Html.ActionLink("Add Note", "AddNote", new { id = Model.Id })</li>
		<li>@Html.ActionLink("Create User", "CreatePerson", new { id = Model.Id })</li>
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@section ScriptContent
{
}

@Html.ValidationSummary()

@using (Html.BeginForm("Edit", "InformationRequest", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Id)

	<div class="control-group">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="Name">
					Name
					<span class="required">*</span> 
				</label>
				<div class="controls">
					@Html.EditorFor(model => model.Name)
					@Html.ValidationMessageFor(model => model.Name)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Title">Title<span class="required">*</span> </label>
				<div class="controls">
					@Html.EditorFor(model => model.Title)
					@Html.ValidationMessageFor(model => model.Title)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Company">Company<span class="required">*</span> </label>
				<div class="controls">
					@Html.EditorFor(model => model.Company)
					@Html.ValidationMessageFor(model => model.Company)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Email">Email<span class="required">*</span> </label>
				<div class="controls">
					@Html.EditorFor(model => model.Email)
					@Html.ValidationMessageFor(model => model.Email)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Commodity">Commodity<span class="required">*</span> </label>
				<div class="controls">
					@Html.EditorFor(model => model.Commodity)
					@Html.ValidationMessageFor(model => model.Commodity)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Location">Location<span class="required">*</span> </label>
				<div class="controls">
					@Html.EditorFor(model => model.Location)
					@Html.ValidationMessageFor(model => model.Location)
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="SubmittedDateTime">Submitted DateTime</label> 
				<div class="controls">
					@Model.SubmittedDateTime
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Responded">Responded</label>
				<div class="controls">
					@Html.EditorFor(model => model.Responded)
					@Html.ValidationMessageFor(model => model.Responded)
				</div>
			</div>
		</fieldset>
	</div>   	
	<div class="form-actions">
		<input type="submit" value="Save" class="btn btn-primary" /> 
		@Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn" })
	</div>
}

@if (Model.InformationRequestNotes.Any())
{
	<table class="table table-striped">
	
		<thead>
			<tr>
				<th>User</th>
				<th>Date/Time</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
        @foreach (var a in Model.InformationRequestNotes)
        {
            <tr>
                <td>@a.NoteBy</td>
                <td>@a.DateTimeNote.ToString("g")</td>
                <td>@a.Notes</td>
            </tr>
        }
		</tbody>

	</table>    
}



