@model IQueryable<Agribusiness.Core.Domain.InformationRequest>

@{
	ViewBag.Title = "Information Requests";
	ViewBag.SubPageTitle = "Information Requests";
}

@section SubPageNavigation
{
	<ul class='nav nav-pills'>
		
	</ul>
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
}


<table class='default_table table table-striped table-bordered'>
	<thead>
		<tr>
			<th></th>

			<th>
				Name
			</th>

			<th>
				Title
			</th>

			<th>
				Company
			</th>

			<th>
				Email
			</th>

			<th>
				Commodity
			</th>

			<th>
				Location
			</th>

			<th>
				SubmittedDateTime
			</th>

			<th>
				Responded
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr >

			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})' class="btn hastip" rel="tooltip" title="Edit Information Request">
					<i class="icon-pencil"></i>
				</a>
			</td>

			<td>
				@item.FullName()
			</td>

			<td>
				@item.Title
			</td>

			<td>
				@item.Company
			</td>

			<td>
				@item.Email
			</td>

			<td>
				@item.Commodity
			</td>

			<td>
				@(string.Format("{0} ({1})", item.City, item.State))
			</td>

			<td>
				@String.Format("{0:g}", item.SubmittedDateTime)
			</td>

			<td>
				@if (item.Responded)
                {
                    <span class="label label-success">Yes</span>
                }
                else
                { 
                    <span class="label label-important">No</span>
                }
			</td>

		</tr>
}
	</tbody>
</table>