@model SeminarViewModel

<div class="control-group">
    <fieldset>
        <div class="control-group">
            <label for="year" class="control-label">Year:</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.Year)
                @Html.ValidationMessageFor(a => a.Seminar.Year)
            </div>
        </div>
        <div class="control-group">
            <label for="location" class="control-label">Location:</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.Location)
                @Html.ValidationMessageFor(a => a.Seminar.Location)
            </div>
        </div>
        <div class="control-group">
            <label for="LocationLink" class="control-label">Location Link</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.LocationLink)
                @Html.ValidationMessageFor(a=>a.Seminar.LocationLink)
            </div>
        </div>
        <div class="control-group">
            <label for="Begin" class="control-label">Begin Date:</label>
            <div class="controls">
                @Html.EditorFor(a => a.Seminar.Begin, "DateAndTime")
                @Html.ValidationMessageFor(a => a.Seminar.Begin)
            </div>
        </div>
        <div class="control-group">
            <label for="End" class="control-label">End Date:</label>
            <div class="controls">
                @Html.EditorFor(a => a.Seminar.End, "DateAndTime")
                @Html.ValidationMessageFor(a=>a.Seminar.End)
            </div>
        </div>
        <div class="control-group">
            <label for="Begin" class="control-label">Registration Begin</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.RegistrationBegin)
                @Html.ValidationMessageFor(a=>a.Seminar.RegistrationBegin)
            </div>
        </div>
        <div class="control-group">
            <label for="RegistrationDeadline" class="control-label">Registration Deadline:</label>
            <div class="controls">
                @Html.EditorFor(a => a.Seminar.RegistrationDeadline)
                @Html.ValidationMessageFor(a => a.Seminar.RegistrationDeadline)
            </div>
        </div>
        <div class="control-group">
            <label for="AcceptanceDate" class="control-label">Acceptance Date</label>
            <div class="controls">
                @Html.EditorFor(a=> a.Seminar.AcceptanceDate)
                @Html.ValidationMessageFor(a => a.Seminar.AcceptanceDate)
            </div>
        </div>
        <div class="control-group">
            <label for="PaymentDeadline" class="control-label">Payment Deadline</label>
            <div class="controls">
                @Html.EditorFor(model => model.Seminar.PaymentDeadline)
                @Html.ValidationMessageFor(model => model.Seminar.PaymentDeadline)
            </div>
        </div>
        <div class="control-group">
            <label for="RegistrationPassword" class="control-label">Registration Password:</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.RegistrationPassword)
                @Html.ValidationMessageFor(a => a.Seminar.RegistrationPassword)
            </div>
        </div>
        <div class="control-group">
            <label for="RegistrationId" class="control-label">Registration Id:</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.RegistrationId)
                @Html.ValidationMessageFor(a => a.Seminar.RegistrationId)
            </div>
        </div>
        <div class="control-group">
            <label for="ReleaseToAttendees" class="control-label">Release To Attendees</label>
            <div class="controls">
                @Html.EditorFor(a=>a.Seminar.ReleaseToAttendees)
                @Html.ValidationMessageFor(a=>a.Seminar.ReleaseToAttendees)
            </div>
        </div>
        <div class="control-group">
            <label for="cost" class="control-label">Cost</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on">$</span>
                @Html.TextBoxFor(a => a.Seminar.Cost, new {@class="span2"})
                </div>
            </div>
        </div>
    </fieldset> 
    <fieldset>
        <legend>Public Case Study Page</legend>
        
        <div class="control-group">
            <label for="Seminar.ReleaseCaseStudy" class="control-label">Release Case Studies</label>
            <div class="controls">
                @Html.EditorFor(model => model.Seminar.ReleaseCaseStudyList)
                @Html.ValidationMessageFor(model => model.Seminar.ReleaseCaseStudyList)
                <p class="help-block">Makes public list of Case Studies</p>
            </div>
        </div>
        <div class="control-group">
            <label for="CaseStudyText" class="control-label">Case Study</label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span8">
                        @Html.EditorFor(model => model.Seminar.CaseStudyText)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Seminar.CaseStudyText)
                <p class="help-block">Text for the public Case Study page.</p>
            </div>
        </div>
    </fieldset>        
    <fieldset>
        <legend>Program Information</legend>
        <div class="control-group">
            <label for="ReleaseSchedule" class="control-label">Release Schedule</label>
            <div class="controls">
                @Html.EditorFor(model => model.Seminar.ReleaseSchedule)
                @Html.ValidationMessageFor(model => model.Seminar.ReleaseSchedule)
                <p class="help-block">Check to display the public schedule on the Program Information Page.  Checking will hide the below Program Information text.</p>
            </div>
        </div>
        <div class="control-group">
            <label for="Seminar.ProgramInformation" class="control-label">Program Information</label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span8">
                        @Html.EditorFor(model => model.Seminar.ProgramInformation)        
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Seminar.ProgramInformation)
            </div>
        </div>
    </fieldset>
</div>
<div class="form-actions">
    <input type="submit" value="Save" class="btn btn-primary" />
    @Html.ActionLink("Cancel", "Index", "Seminar", new { }, new { @class = "btn" })
</div>