@model AssignToSessionViewModel

@{
    ViewBag.Title = "Assign Attendees to Sessions";
    ViewBag.SubPageTitle = "Assign Attendees to Sessions";
}

@section ScriptContent{
    <style type="text/css">

        .people
        {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-right: 10px;
        }
        .people li
        {
            margin: 5px;
            padding: 5px;
            background: lightgray;
            cursor: pointer;
        }
        .person {cursor: pointer;}
        ul.session { list-style-type: none; margin: 0; padding: 0; float:left; margin-right: 10px; background: #333; padding: 5px; width: 100%;}
        ul.session li { margin: 5px; padding: 5px; background: lightgray;}

        .people-container{ width: 200px; float:left; margin-right: 1em;}
        .session-container{ width: 800px; float:left;}
        .session-container fieldset { margin: 1em; }
        .session-item {float:left; margin: 1em; width: 230px;}
        
        /* for sessions that are the only ones in a given hour */
        .single {width: 736px;}
        .single li.person { width: 210px; float:left; }
        .single li.notfirst { width: 210px; float:left; margin-left: 2em; }
        
        /* css for button to remove person from session */
        .remove {float:right;}
        
        /* button to add all attendees to a session */
        .add-all { cursor: pointer; }
        
        .scrollable { overflow: auto; height: 500px; }
        
        .details {float:right;}
    </style>

    <script type="text/javascript" src='@Url.Script("jquery.bt.min.js")'></script>
    <link href="@Url.Css("jquery.bt.css")" rel="stylesheet" type="text/css" />   

    <script type="text/javascript">

        var deleteImageUrl = '@Url.Content("~/Images/button_delete_red.png")';
        var antiforgeryToken;

        var assignUrl = '@Url.Action("Assign")';
        var unassignUrl = '@Url.Action("UnAssign")';

        var detailsUrl = '@Url.Action("GetDetails")';

        /* Set the antiforgery token from the dom object */
        $(function () {
            antiforgeryToken = $('input[name="__RequestVerificationToken"]').val();
        });
    </script>

    <script type="text/javascript" src='@Url.Content("~/Scripts/AssignToSession.js")'></script>

}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to Seminar", "Details", new {id=@Model.Seminar.Id})</li>
    </ul>
}

@Html.AntiForgeryToken()

<fieldset class="people-container">
    <legend>Attendees</legend>
    <div class="scrollable">
    <ul class="people">
    @foreach (var person in Model.Seminar.SeminarPeople.OrderBy(a=>a.Person.LastName))
    { 
        <li class="person" data-id='@person.Id'>
            @person.Person.FullName
            <span class="details" data-id='@person.Id'><img src='@Url.Image("Search.png")'  /></span>
        </li>
    }
    </ul>
    </div>
</fieldset>

<fieldset class="session-container">
    <legend>Sessions</legend>

    <div class="scrollable">
    @{var date = Model.Seminar.Begin;}

    @do {

        <fieldset>
            <legend>@date.ToShortDateString()</legend>
            @for (int i = 1; i < 24; i++)
            {
                // if any then put out a header and all the sessions
                if (Model.Seminar.Sessions.Any(a => a.Begin.Value.Hour == i && a.Begin.Value.Date == date.Date))
                {                    
                    var single = Model.Seminar.Sessions.Count(a=>a.Begin.Value.Hour == i && a.Begin.Value.Date == date.Date) == 1 ? "single" : string.Empty;
                       
                    foreach (var session in Model.Seminar.Sessions.Where(a => a.Begin.Value.Hour == i))
                    { 
                        <div class='session-item @single'><a class="add-all" data-id='@session.Id'>Add All</a>
                        <h4>@session.Name (@session.Begin.Value.ToShortTimeString())</h4>
                        <ul id='@session.Id' class="session">
                            @{var orderedPeeps = session.SeminarPeople.OrderBy(a=>a.Person.LastName).ToList();}
                            @for(var j = 0; j<orderedPeeps.Count; j++)
                            { 
                                var person = orderedPeeps[j];
                                var isFirst = j%3 == 0;
                                var notFirst = isFirst ? "" : "notfirst";
                                
                                <li class="person @notFirst" data-id='@person.Id'>
                                    @person.Person.FullName
                                    <img src='@Url.Image("button_delete_red.png")' class="remove" />
                                    <span class="details" data-id='@person.Id'><img src='@Url.Image("search.png")' /></span>
                                </li>
                            }
                        </ul>
                        </div>
                    }
                    <div style="clear:both;"></div>
                }
            }
        </fieldset>
        
        // increment the day by one
        date = date.AddDays(1);
        
    } while (date.Date <= Model.Seminar.End);
    </div>
</fieldset>

<div style="clear:both;"></div>

@*<div id="details" style="display:none;">
    @foreach (var person in Model.Seminar.SeminarPeople.OrderBy(a=>a.Person.LastName))
    { 
        <div class="details" data-id='@person.Id'>
            Specific details about @person.Person.FullName who is @person.Title at @person.FirmCode            
        </div>
    }
</div>*@