@model Agribusiness.Web.Models.SeminarViewModel
@using Agribusiness.Web.Controllers.Filters
@{
    ViewBag.Title = "Seminar Details";
    ViewBag.SubPageTitle = "Seminar Details";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>
            @Html.ActionLink("Assign Sessions", "AssignToSessions", new { id = Model.Seminar.Id })
        </li>
        <li>
            @Html.ActionLink("Attendees", "Index", "Attendee", new { id= Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Notifications", "Index", "Notification", new {}, new {})
        </li>
        <li>
            @Html.ActionLink("Edit", "Edit", "Seminar", new { id = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Back to List", "Index", "Seminar")
        </li>
    </ul>
}

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#sessions").dataTable({ "bJQueryUI": true, "bPaginate": false, "aaSorting": [[2, "asc"]] });
        });    
    </script>
}

<h3>Details</h3>
    <div class="display-form">
    <ul>
        <li><div class="display-label"><label for="year">Year:</label></div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.Year)</div>
        </li>
        <li><div class="display-label"><label for="location" class="editor-label">Location:</label></div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.Location)</div>
        </li>
        <li><div class="display-label"><label for="Begin" class="editor-label">Begin Date:</label></div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.Begin)</div>
        </li>
        <li><div class="display-label"><label for="End" class="editor-label">End Date:</label></div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.End)</div>
        </li>
        <li><div class="display-label">
            <label for="RegistrationDeadline" class="editor-label">Registration Deadline:</label>
            </div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.RegistrationDeadline)</div>
        </li>
        <li><div class="display-label">
            <label for="RegistrationPassword" class="editor-label">Registration Password:</label>
            </div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.RegistrationPassword)</div>
        </li>
        <li><div class="display-label">
            <label for="RegistrationId" class="editor-label">Registration Id:</label>
            </div>
            <div class="display-details">@Html.DisplayFor(a => a.Seminar.RegistrationId)</div>
        </li>
    </ul>
    </div>
<h3>Sessions</h3>

@if (Model.Seminar.Sessions.Any())
{ 
    <table class="noicon" id="sessions">
        <thead> 
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Begin</th>
                <th>End</th>
                <th>Type</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var a in Model.Seminar.Sessions)
            { 
                <tr>
                    <td>@a.Name</td>
                    <td>@a.Location</td>
                    <td>@a.BeginString</td>
                    <td>@a.EndString</td>
                    <td>@a.SessionType.Name</td>
                    <td>@a.AttendeeCount</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No Sessions have been created yet." })
}

<h3>Case Studies</h3>
@if (Model.Seminar.CaseStudies.Count <= 0)
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No case studies have been added to this seminar." })
}
else
{ 
    <table class="nolasticon default_table" id="casestudies">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Author(s)</th>
                <th>Case Executive(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Seminar.CaseStudies)
            { 
                <tr>
                    <td><a href='@Url.Action("Download", "CaseStudy", new { id = a.Id })'>
                            <img src='@Url.Content("~/Images/edit.png")' alt="Download this case study." />
                        </a>
                    </td>
                    <td>@a.Name</td>
                    <td>@a.Authors</td>
                    <td>@a.Executives</td>
                </tr>
            }
        </tbody>
    </table>
}
