@using Agribusiness.Web.Services
@model SeminarViewModel
           
@{
    ViewBag.Title = "Seminar Details";
    ViewBag.SubPageTitle = "Seminar Details";

    var site = ViewData["site"] as string;
    var seminar = SiteService.GetLatestSeminar(site);
    if (Model.Seminar.Id == seminar.Id)
    {
        ViewBag.Nav = Nav.Seminars;
    }
    
}

@section SubPageNavigation
{
    <ul class="nav nav-pills">
        @if (Model.IsCurrent)
        { 
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("+ Notification Tracking", "Create", "Notification")</li>
                    <li>@Html.ActionLink("Send Notification", "Send", "Notification")</li>
                </ul>
            </li>
        }
        <li>
            @Html.ActionLink("Mailing Lists", "Index", "MailingList", new {seminarId = Model.Seminar.Id}, new {})
        </li>
        <li>
            @Html.ActionLink("Invitation", "Index", "Invitation", new { id = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Edit", "Edit", "Seminar", new { id = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Back to List", "Index", "Seminar")
        </li>
    </ul>
}

@section ScriptContent
{
@Html.Partial("_dataTables")
}

@if (HttpContext.Current.Session["Passwords"] != null)
{
    var contents = (KeyValuePair<DateTime, byte[]>) HttpContext.Current.Session["Passwords"];
    if (contents.Key.AddMinutes(10) > DateTime.Now)
    {
        <div style="margin: 1em; padding: 1em; border: 1px solid #C83900; background-color: #fcf0f0;">

            <p>A password file has been generated from the mailing list used.  You have until @contents.Key.AddMinutes(10) to download the file.  The file can only be downloaded once and will be erased once downloaded.</p>

            <div class="text_btn">
            @Html.ActionLink("Please click here to Download", "DownloadPasswordFile", "Notification")
            </div>

        </div>            
    }
    else
    {
        HttpContext.Current.Session["Passwords"] = null;
    }
}

<div class="form-horizontal row-fluid">
    <div class="control-group span6">
        <fieldset>
            <div class="control-group">
                <label for="Year" class="control-label">Year</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.Year)
                </div>
            </div>
            <div class="control-group">
                <label for="Location" class="control-label">Location</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.Location)
                </div>
            </div>
            <div class="control-group">
                <label for="BeginDate" class="control-label">Begin Date</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.Begin)
                </div>
            </div>
            <div class="control-group">
                <label for="EndDate" class="control-label">EndDate</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.End)
                </div>
            </div>
        </fieldset>
    </div>
    <div class="control-group span6">
        <fieldset>
            <div class="control-group">
                <label for="RegistrationDeadline" class="control-label">Registration Date(s):</label>
                <div class="controls form-text">
                    @*@Html.DisplayFor(model => model.Seminar.RegistrationDeadline)*@
                    @Model.Seminar.RegistrationDates
                </div>
            </div>
            <div class="control-group">
                <label for="RegistrationPassword" class="control-label">Registration Password</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.RegistrationPassword)
                </div>
            </div>
            <div class="control-group">
                <label for="RegistrationId" class="control-label">Registration Id</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.RegistrationId)
                </div>
            </div>
            <div class="control-group">
                <label for="Cost" class="control-label">Cost</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Seminar.Cost)
                </div>
            </div>
        </fieldset>
    </div>
</div>

<h3 class="section-header">Sessions</h3>

@if (Model.Seminar.Sessions.Any())
{ 
    <table class="default_table table table-striped table-bordered" id="sessions">
        <thead> 
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Begin</th>
                <th>End</th>
                <th>Type</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var a in Model.Seminar.Sessions)
            { 
                <tr>
                    <td>@a.Name</td>
                    <td>@a.Location</td>
                    <td>@a.BeginString</td>
                    <td>@a.EndString</td>
                    <td>@a.SessionType.Name</td>
                    <td>@a.AttendeeCount</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No Sessions have been created yet." })
}

<h3 class="section-header">Case Studies</h3>
@if (Model.Seminar.CaseStudies.Count <= 0)
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No case studies have been added to this seminar." })
}
else
{ 
    <table class="default_table table table-striped table-bordered" id="casestudies">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Author(s)</th>
                <th>Case Executive(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Seminar.CaseStudies)
            { 
                <tr>
                    <td>
                        <a href='@Url.Action("Download", "CaseStudy", new { id = a.Id })' class="btn hastip" title="Download">
                            <i class="icon-download"></i>
                        </a>
                    </td>
                    <td>@a.Name</td>
                    <td>@a.Authors</td>
                    <td>@a.Executives</td>
                </tr>
            }
        </tbody>
    </table>
}
