@using Agribusiness.Web.Services

@model SeminarViewModel

@{
    ViewBag.Title = "Edit Seminar";
    ViewBag.SubPageTitle = "Edit Seminar";
    ViewBag.Restrict = false;

    var site = ViewData["site"] as string;
    var seminar = SiteService.GetLatestSeminar(site);
    if (Model.Seminar.Id == seminar.Id)
    {
        ViewBag.Nav = Nav.Seminars;
    }
}

@section SubPageNavigation {
    <ul class="nav nav-pills">
        <li>
            @Html.ActionLink("Details View", "Details", "Seminar", new { id = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Create Session", "Create", "Session", new { seminarId = @Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Create Case Study", "Create", "CaseStudy", new { seminarId = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Add File", "Create", "File", new {seminarId = Model.Seminar.Id}, new {})
        </li>
        <li>
            @Html.ActionLink("Back to List", "Index", "Seminar")
        </li>
    </ul>
}

@section ScriptContent{
    @Html.Partial("_DateTimePickerScripts", Model.Seminar)
    @Html.Partial("_tinymce", "#Seminar_CaseStudyText, #Seminar_ProgramInformation")
}

@Html.ValidationSummary("Please correct the following errors.")
@using (Html.BeginForm("Edit", "Seminar", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_SeminarForm")    
}

<h3>Sessions</h3>

    @if (Model.Seminar.Sessions.Any())
    { 
    <table id="sessions" class="default_table table table-striped table-bordered">
        <thead> 
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Begin</th>
                <th>End</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var a in Model.Seminar.Sessions)
            { 
                <tr>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", "Session", new {id=a.Id, seminarId=a.Seminar.Id}, new {@class="table_edit"})*@
                        <a href="@Url.Action("Edit", "Session", new { id=a.Id, seminarId=a.Seminar.Id })">
                            <img src='@Url.Content("~/Images/edit.png")' alt="Edit this session." />
                        </a>
                    </td>
                    <td>@a.Name</td>
                    <td>@a.Location</td>
                    <td>@a.BeginString</td>
                    <td>@a.EndString</td>
                    <td>@a.SessionType.Name</td>
                </tr>
            }

        </tbody>
    </table>
    }
    else 
    { 
        @Html.Partial("_Message", new MessageModel(){IsError=false,Message="No Sessions have been created yet."})
    }

<div style="clear:both; margin: 1em;">&nbsp;</div>
<h3>Case Studies</h3>

    @if (Model.Seminar.CaseStudies.Any())
    {
        <table id="casestudies" class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var cs in Model.Seminar.CaseStudies) { 
                <tr>
                    <td>
                        @if (cs.File != null)
                        {
                        <a href='@Url.Action("AdminDownload", "CaseStudy", new { id = cs.Id })'>
                            <img src='@Url.Content("~/Images/details.png")' alt="download case study" />
                        </a>        
                        }
                        <a href='@Url.Action("Edit", "CaseStudy", new { id = cs.Id, seminarId = Model.Seminar.Id })'>
                            <img src='@Url.Content("~/Images/edit.png")' alt="edit case study" />
                        </a>
                    </td>
                    <td>@cs.Name</td>
                    <td>@cs.Description</td>
                    <td>@(cs.Session != null ? cs.Session.Name : "n/a")</td>
                </tr>                
                }

            </tbody>
        </table>        
    }
    else
    { 
        @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No Case Studies have been created yet." })
    }
    
<h3>Seminar Files</h3>

@if (Model.Seminar.Files.Any())
{
    <table class="default_table table table-striped table-bordered">
        <thead>
            <tr>
                <th></th> 
                <th>Name</th>
                <th>File Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model.Seminar.Files)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "File", new {id=f.Id})" class="btn">
                            <i class="icon-pencil"></i>
                        </a>
                        <a href="@Url.Action("Download","File", new {id=f.Id})" class="btn">
                            <i class="icon-download"></i>
                        </a>
                    </td>
                    <td>@f.Name</td>
                    <td>@f.FileName</td>
                    <td>
                        @if (f.MySeminar)
                        {
                            <span class="label">My Seminar</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No files have been added yet." })
}