@using Agribusiness.Web.Models

@model Agribusiness.Web.Models.SeminarViewModel

@{
    ViewBag.Title = "Edit Seminar";
    ViewBag.SubPageTitle = "Edit Seminar";
}

@section SubPageNavigation {
    <ul class="navigation">
        <li>
            @Html.ActionLink("Details View", "Details", "Seminar", new { id = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Create Session", "Create", "Session", new { seminarId = @Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Create Case Study", "Create", "CaseStudy", new { seminarId = Model.Seminar.Id }, new { })
        </li>
        <li>
            @Html.ActionLink("Back to List", "Index", "Seminar")
        </li>
    </ul>
}

@section ScriptContent{

    <script type="text/javascript">
        $(function () {
            $("#sessions").dataTable({ "bJQueryUI": true });
            $("#casestudies").dataTable({ "bJQueryUI": true });
        });    
    </script>
}

@Html.Partial("_SeminarForm")

<h3>Sessions</h3>

    @if (Model.Seminar.Sessions.Any())
    { 
    <table id="sessions">
        <thead> 
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Begin</th>
                <th>End</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var a in Model.Seminar.Sessions)
            { 
                <tr>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", "Session", new {id=a.Id, seminarId=a.Seminar.Id}, new {@class="table_edit"})*@
                        <a href="@Url.Action("Edit", "Session", new { id=a.Id, seminarId=a.Seminar.Id })">
                            <img src='@Url.Content("~/Images/edit.png")' alt="Edit this session." />
                        </a>
                    </td>
                    <td>@a.Name</td>
                    <td>@a.Location</td>
                    <td>@a.BeginString</td>
                    <td>@a.EndString</td>
                    <td>@a.SessionType.Name</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
    }
    else 
    { 
        @Html.Partial("_Message", new MessageModel(){IsError=false,Message="No Sessions have been created yet."})
    }

<div style="clear:both; margin: 1em;">&nbsp;</div>
<h3>Case Studies</h3>

    @if (Model.Seminar.CaseStudies.Any())
    {
        <table id="casestudies" class="nolasticon">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var cs in Model.Seminar.CaseStudies) { 
                <tr>
                    <td><a href='@Url.Action("Download", "CaseStudy", new { id=cs.Id })'>
                            <img src='@Url.Content("~/Images/details.png")' alt="download case study" />
                        </a>
                        <a href='@Url.Action("Edit", "CaseStudy", new {id=cs.Id,seminarId=Model.Seminar.Id})'>
                            <img src='@Url.Content("~/Images/edit.png")' alt="edit case study" />
                        </a>
                    </td>
                    <td>@cs.Name</td>
                    <td>@cs.Description</td>
                    <td>@cs.Session.Name</td>
                </tr>                
                }

            </tbody>
        </table>        
    }
    else
    { 
        @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "No Case Studies have been created yet." })
    }
