@using Agribusiness.Core.Domain
@using Agribusiness.Web.Models

@model IQueryable<Seminar>

@{
    ViewBag.Title = "Seminar Home";
    ViewBag.SubPageTitle = "Seminars";
}

@section SubPageNavigation {
    <ul class="nav nav-pills">
        <li>
            @Html.ActionLink("Create New", "Create", "Seminar")
        </li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
}

@if (!Model.Any())
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "There are no seminars available" })
}
else
{ 
    <table class="default_table table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Location</th>
                <th>Registration Deadline</th>
                <th>Registration Id</th>
            </tr>    
        </thead>
        <tfoot></tfoot>
        <tbody>
            @foreach (var a in Model)
            { 
                <tr>
                    <td>
                        <a href='@Url.Action("Details", new { id = a.Id })' class="btn hastip" rel="tooltip" title="Details">
                            <i class="icon-search"></i>
                        </a>
                        <a href='@Url.Action("Edit", new {id = a.Id})' class="btn hastip" rel="tooltip" title="Edit">
                            <i class="icon-pencil"></i>
                        </a>
                    </td>
                    <td>@a.Year</td>
                    <td>@a.Location</td>
                    <td>@a.RegistrationDeadlineString </td>
                    <td>@a.RegistrationId</td>
                </tr>
            }
        </tbody>
    </table>
}