@model IEnumerable<Agribusiness.Core.Domain.Seminar>

@{
    ViewBag.Title = "My Seminars";
    ViewBag.SubPageTitle = "My Seminars";
}

@section ScriptContent{
     <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $("table").dataTable({ "bJQueryUI": true });
        });    
    </script>
}

@if (Model.Count() > 0)
{
    <table>
	    <thead>
		    <tr>
			    <th></th>
			    <th>Year</th>
			    <th>Location</th>
			    <th>Begin</th>
			    <th>End</th>
		    </tr>
	    </thead>
	    <tbody>
    @{ var odd = false; }
    @foreach (var item in Model)
    {
		    <tr class="@(odd ? "odd" : "even")">
			    <td>
				    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
			    </td>
			    <td>
				    @item.Year
			    </td>
			    <td>
				    @item.Location
			    </td>
			    <td>
				    @String.Format("{0:g}", item.Begin)
			    </td>
			    <td>
				    @String.Format("{0:g}", item.End)
			    </td>
		    </tr>
        odd = !odd;
    }
	    </tbody>
    </table>
}
else
{
    @Html.Partial("_Message", new MessageModel(){IsError=false, Message="You have not been registered for any seminars"})
}


