@model Agribusiness.Web.Models.MySeminarViewModel

@{
    ViewBag.Title = "My Seminar";
    ViewBag.SubPageTitle = "My Seminar";
}

@section ScriptContent{
    <script type="text/javascript">
        $(function () {
            $("table").dataTable({ "bJQueryUI": true });
        });    
    </script>
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Attendees", "BySeminar", "Attendee", new { id = Model.Seminar.Id }, new { })</li>
        <li>@Html.ActionLink("Case Studies", "BySeminar", "CaseStudy", new { id = Model.Seminar.Id }, new { })</li>
    </ul>
}

<h3>Seminar Details</h3>
<div class="display-form">
    <ul >
        <li><div class="display-label">Date:</div>
            <div class="display-details">@Model.Seminar.Begin.ToShortDateString()</div>
        </li>
        <li><div class="display-label">Location:</div>
            <div class="display-details">@Model.Seminar.Location</div>
        </li>
        <li><div class="display-label">Payment Status:</div>
            <div class="display-details">
            @if (Model.SeminarPerson.Paid)
            {
                <text>Paid</text>
            }
            else
            { 
                <a href='@Model.CrpLink'>Click here to Pay</a>
            }
            </div>
        </li>
        @if (!string.IsNullOrWhiteSpace(Model.SeminarPerson.CouponCode))
        { 
        <li><div class="display-label">Coupon:</div>
            <div class="display-details">@Model.SeminarPerson.CouponCode</div>
        </li>
        }
    </ul>
</div>


@if (Model.SeminarPerson.Sessions.Count == 0)
{
    <p style="margin: 2em 0;">Program schedule and breakout session assignments will be available soon.</p>
}
else
{
    <h3>Your Sessions</h3>
    <table>
        <thead> 
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Begin</th>
                <th>End</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var a in Model.SeminarPerson.Sessions)
            { 
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Session", new { id = a.Id })">
                            <img src='@Url.Content("~/Images/details.png")' alt="View details for session" />
                        </a>
                    </td>
                    <td>@a.Name</td>
                    <td>@a.Location</td>
                    <td>@a.BeginString</td>
                    <td>@a.EndString</td>
                    <td>@a.SessionType.Name</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
}
