@model CommodityViewModel

@{
	ViewBag.Title = "Edit Commodity";
    ViewBag.SubPageTitle = "Edit Commodity";
}

@section SubPageNavigation
{
	<ul class="nav nav-pills">
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@using (Html.BeginForm("Edit", "Commodity", FormMethod.Post, new {@class="form-horizontal"})) {
	
    @Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Commodity.Id)
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                <label class="control-label">
                    <label for="name" class="control-label">
                        Name
                        <span class="required">*</span> 
                    </label>
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.Commodity.Name)
                    @Html.ValidationMessageFor(model => model.Commodity.Name)
                </div>
            </div>
            <div class="control-group">
                <label for="IsActive" class="control-label">
                    @Html.LabelFor(model => model.Commodity.IsActive) 
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.Commodity.IsActive)
                    @Html.ValidationMessageFor(model => model.Commodity.IsActive)
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Edit" />
        @Html.ActionLink("Cancel", "Index", "Commodity", new { }, new { @class = "btn" })
    </div>
}



