@model IEnumerable<Agribusiness.Core.Domain.Commodity>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>


@section SubPageNavigation
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}


<table class="default-table">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
			<td>
				@item.Name
			</td>
			<td>
				<a href='@Url.Action("Delete", new { id = item.Id })'>
					<img src='@Url.Image("delete.png")' />
				</a>
			</td>

		</tr>
		odd = !odd;
}
	</tbody>
</table>

