@model IEnumerable<Agribusiness.Core.Domain.Commodity>

@{
	ViewBag.Title = "Commodities";
    ViewBag.SubPageTitle = "Commodities";
}

<h2>Index</h2>


@section SubPageNavigation
{
	<ul class='nav nav-pills'>
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}


<table class="default-table table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    @foreach (var item in Model) {
		<tr>
			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})' class="btn hastip" rel="tooltip" title="Edit">
					<i class="icon-pencil"></i>
				</a>
			</td>
			<td>
				@item.Name
			</td>
			<td>
				<a href='@Url.Action("Delete", new { id = item.Id })' class="btn btn-danger hatip" rel="tooltip" title="Delete">
                    @*<img src='@Url.Image("delete.png")' />*@
                    <i class="icon-trash"></i>
				</a>
			</td>

		</tr>
    }
	</tbody>
</table>

