@using Agribusiness.Web.Models

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>

        @if (String.IsNullOrWhiteSpace(ViewBag.Title))
        { 
            <text>UC Davis Agribusiness Executive Seminar</text>
        }
        else
        {
            @ViewBag.Title
        }
    </title>
    

 
</head>

<body>

<div class="wrapper">
    @if (!string.IsNullOrWhiteSpace(ViewBag.CatbertCritical) || !string.IsNullOrWhiteSpace(ViewBag.CatbertMessage))
    { 
        <div id="system_wide_status">  
            <div id="system_wide_status_text">
            @Html.Raw(ViewBag.CatbertCritical)
            @Html.Raw(ViewBag.CatbertMessage)
            </div>
        </div>
    }

@* Contains branding and navigation *@
<div id="branding">
    <span class="header">
    <h1>Agribusiness Executive Seminar</h1>
    <div class="col1">  
        <span><img src='@Url.Content("~/Images/logo-ucdavis.png")' alt="UC Davis" /></a></span>
     </div> 
     <div class="col2">
        @Html.Partial("_Navigation", true)
    </div> 

    </span> 
</div>

@* This section holds the logon/logoff and greeting *@
<div id="personalbar">
    @Html.Partial("_LogOnPartial")
</div>

    <div class="main">

        @* status and error message container *@
        <div id="messagecontainer">

        @if (!string.IsNullOrWhiteSpace((string)TempData["ErrorMessages"]))
        {
            @Html.Partial("_Message", new MessageModel() { IsError = true, Message = (string)TempData["ErrorMessages"] })
        }

        @if (!string.IsNullOrWhiteSpace((string)TempData["Message"]))
        {
            @Html.Partial("_Message", new MessageModel() { IsError = false, Message = (string)TempData["Message"] })
        }

        @* Page Title and Navigation *@
        <div class="col1">
        <h2>@ViewBag.SubPageTitle</h2>
        </div>
        <div class="col2">
            @RenderSection("SubPageNavigation", false)
        </div>
        
        </div> <!-- End of Message Container -->
	
        @* Render the main contents of the page *@
        @RenderBody()

    </div> <!-- End of Main -->

</div>

@* Byline and Secondary Navigation *@
<div id="footer">
<div id="footertext">
<div class="col1">
    @Html.Partial("_Navigation", false)
</div>
<div class="col2">
<ul>
	<li>
	Version #: @ViewBag.Version
	</li>
    <li>
        <img src='@Url.Content("~/Images/caes_wf_blue.jpg")' />
    </li>
	@*<li>
	Developed By The College Of Agricultural And Environmental Science Dean's Office
	</li>
	<li>
	Copyright The Regents of the University of California, Davis campus, 2005-11. All Rights Reserved.
	</li>*@
</div>
</div>
</div>

    <link href="@Url.Content("~/Css/jquery-ui-1.8.11.caes.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/Agribusiness.css")" rel="stylesheet" type="text/css" />   

    <script src="//ajax.microsoft.com/ajax/jQuery/jquery-1.5.1.min.js"></script>
    <script src="//ajax.microsoft.com/ajax/jquery.ui/1.8.11/jquery-ui.min.js"></script>
    <script src="//ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
            $(".default_table").dataTable({ "bJQueryUI": true, "bPaginate": false });
        }); 
    </script>

    @RenderSection("ScriptContent", false)

</body>
</html>