@using Agribusiness.Web.Services

@{
    ViewBag.HeaderTitle = !string.IsNullOrEmpty(ViewBag.HeaderTitle) ? ViewBag.HeaderTitle : "UC Davis Agribusiness";
    //var site = ViewContext.RouteData.Values["site"] as string;
    var siteId = ViewData["site"] as string;
    var site = SiteService.LoadSite(siteId);
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        @if (site == null)
        { 
            <text>UC Davis Agribusiness Executive Seminar</text>
        }
        else
        {
            @site.Name
        }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" >
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    
    <link href="@Url.Content("~/content/bootstrap-responsive.css")" rel="stylesheet" >
    <link href="@Url.Content("~/Content/themes/uibootstrap/jquery-ui-1.8.16.custom.css")" rel="stylesheet"/>
    @if (!string.IsNullOrEmpty(siteId))
    {
        <link href="@Url.Content("~/Content/logolayout.css")" rel="stylesheet"/>
    }
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet"/>  

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
      
      @if (!string.IsNullOrWhiteSpace(ViewBag.CatbertCritical) || !string.IsNullOrWhiteSpace(ViewBag.CatbertMessage))
    { 
        <div id="system_wide_status">  
            <div id="system_wide_status_text">
            @Html.Raw(ViewBag.CatbertCritical)
            @Html.Raw(ViewBag.CatbertMessage)
            </div>
        </div>
    }
    
      <div id="main-header">
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container-fluid">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>

                  <a class="brand" href="@Url.Action("Index", "Home", new { })">
                      @if (!string.IsNullOrEmpty(siteId))
                      {
                          <img src='@Url.Action("GetLogo", "Site", new { id = siteId })' alt="logo" class="header-logo"/>
                      }
                    @if (site == null)
                    { 
                        <text>UC Davis Agribusiness Executive Seminar</text>
                    }
                    else
                    {
                        @site.Name
                    }
                  </a>
                  
                  @if (!string.IsNullOrEmpty(siteId))
                  {
                      @Html.Partial("_LogonPartial", siteId)
                  }
                  
                  <div class="nav-collapse">
                      @if (!string.IsNullOrEmpty(siteId))
                      {
                          @Html.Partial("_Navigation")
                      }
                  </div><!--/.nav-collapse -->
              </div>
          </div>
      </div>
      </div>

      @RenderSection("featured", required: false)

      <div class="container-fluid">
        
            @if (!string.IsNullOrWhiteSpace((string)TempData["ErrorMessages"]))
            {
                @Html.Partial("_Message", new MessageModel() { IsError = true, Message = (string)TempData["ErrorMessages"] })
            }

            @if (!string.IsNullOrWhiteSpace((string)TempData["Message"]))
            {
                @Html.Partial("_Message", new MessageModel() { IsError = false, Message = (string)TempData["Message"] })
            }
        
          <div class="pull-right">
              @RenderSection("SubPageNavigation", false)
          </div>

            @if (!string.IsNullOrEmpty(ViewBag.SubPageTitle))
            {
                <div class="page-header"><h2>@ViewBag.SubPageTitle</h2></div>      
            }

          @RenderBody()

          @*<div style="clear: both;"></div>*@
          <footer class="footer">
              <div class="row">
                  <span class="span4">
                      Telephone: <strong>(530) 752-2120</strong>
                  </span>
                  <span class="span4">
                      Fax: <strong>(530) 752-2520</strong>
                  </span>
                  <span class="span4">
                      Email: <strong><a href="mailto:agribusiness@ucdavis.edu">agribusiness@ucdavis.edu</a></strong>
                  </span>
              </div>
              <p class="pull-right">Version # 2</p>
              <p>&copy; The Regents of the University of California, Davis campus</p>
          </footer>

      </div> <!-- /container -->

      <!-- Le javascript
          ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>

      <script type="text/javascript">
          $(function () {
              $(".datepicker").datepicker();
              $(".hastip").tooltip();
          });
      </script>

      @RenderSection("ScriptContent", required: false)

  </body>
</html>



