@* If the model is true, the nav is for header *@

@using Agribusiness.Web.Controllers.Filters
@using Agribusiness.Web.Services
    
@{
    var nav = ViewBag.Nav;
    var site = ViewData["site"] as string;
    var seminar = SiteService.GetLatestSeminar(site);
}

<ul class="nav" role="navigation">

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (User.IsInRole(RoleNames.User))
        {
            <li class="@(nav == Nav.Home ? "active" : string.Empty)">@Html.ActionLink("Home", "Admin", "Home")</li>
            <li class="@(nav == Nav.Requests ? "active" : string.Empty)">@Html.ActionLink("Requests", "Index", "InformationRequest")</li>
            <li class="@(nav == Nav.Applications ? "active" : string.Empty)">@Html.ActionLink("Applications", "Index", "SeminarApplication")</li>
            <li class="@(nav == Nav.Seminars ? "active" : string.Empty)">@Html.ActionLink("Current Seminar", "Details", "Seminar", new { @id = seminar.Id }, new { })</li>
            <li class="@(nav == Nav.People ? "active" : string.Empty) dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Attendees", "Index", "Attendee", new {id = seminar.Id}, new {})</li>    
                    <li>@Html.ActionLink("Site List", "SiteList", "Person")</li>
                    <li>@Html.ActionLink("Master List", "MasterList", "Person")</li>
                </ul>
                
            </li>
            <li id="adminmenu" class="@(nav == Nav.Admin ? "active" : string.Empty) dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#adminmenu">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu" >
                    <li class="nav-header">Event Specific</li>
                    <li>@Html.ActionLink("Templates", "Index", "Template")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                    <li>@Html.ActionLink("Email Queue", "Index", "EmailQueue")</li>
                    <li class="divider"></li>
                    <li class="nav-header">System Settings</li>
                    <li >@Html.ActionLink("Seminars", "Index", "Seminar")</li>
                    <li>@Html.ActionLink("Commodities", "Index", "Commodity")</li>
                    <li>@Html.ActionLink("Firms", "Index", "Firm")</li>
                    <li>@Html.ActionLink("Sites", "Index", "Site")</li>
                    <li>@Html.ActionLink("Sponsors", "Index", "Sponsor")</li>
                </ul>
            </li>
        }
        else
        {
            <li class="@(nav == Nav.Home ? "active" : string.Empty)">@Html.ActionLink("Home", "Index", "Authorized")</li>
            <li class="@(nav == Nav.Profile ? "active" : string.Empty)">@Html.ActionLink("Profile", "Edit", "Person")</li>
        }
    }
    else
    { 
        <li class="@(nav == Nav.Home ? "active" : string.Empty)">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="@(nav == Nav.BackgroundInformation ? "active" : string.Empty)">@Html.ActionLink("Background Information", "Background", "Public")</li>
        <li class="@(nav == Nav.ProgramOverview ? "active" : string.Empty)">@Html.ActionLink("Program Overview", "ProgramOverview", "Public")</li>
        <li class="@(nav == Nav.Sponsors ? "active" : string.Empty)">@Html.ActionLink("Sponsors", "Sponsors", "Public")</li>
    }
</ul>