@* If the model is true, the nav is for header *@

@using Agribusiness.Web.Controllers.Filters
    
<ul class="navigation">

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (User.IsInRole(RoleNames.User))
        {
            <li>@Html.ActionLink("Home", "Admin", "Home")</li>
            <li>@Html.ActionLink("Seminars", "Index", "Seminar")</li>
            <li>@Html.ActionLink("Applications", "Index", "SeminarApplication")</li>
            <li>@Html.ActionLink("People", "Index", "Person")</li>
            <li><a href="#">Firms</a></li>
        }
        else
        {
            <li>@Html.ActionLink("Applications", "Index", "SeminarApplication")</li>
            <li>@Html.ActionLink("Seminars", "MySeminars", "Seminar")</li>
            <li><a href="#">Profile</a></li>
        }
    }

    @if (!Model && !HttpContext.Current.User.Identity.IsAuthenticated)
    { 
    <li>
        @Html.ActionLink("Admin Tools", "Admin", "Home")
    </li>
    }
</ul>