@model Agribusiness.Web.Models.DisplayPerson

    <div class="list-item">
        <div class="list_pic_container">
            <img src='@Url.Action("GetThumbnail", "Person", new { id = Model.Person.Id })' alt='string.Format("{0}''s Profile Picture", @Model.Person.FullName)' />
        </div>

        <div class="list_information_container">

            @Html.ActionLink(Model.Person.FullName, "Profile", new { id = Model.Person.Id })

            <ul>
                <li class="title">@Model.Title</li>

            @if(Model.Firm != null){
                    <li>@Model.Firm.Name</li>
                    <li class="description">@Model.Firm.Description</li>
            }else{
                <li>No firm has been defined for this person</li>
            }
            </ul>
        </div>
    
    <hr class="list-divider" />
    </div>