@model DisplayPerson

@{
    var publicProfile = ViewBag.PublicProfile != null && (bool)ViewBag.PublicProfile;
}

<div class="row-fluid display-person">
    <div class="span2">
        @if (publicProfile)
        {
            <img src='@Url.Action("GetPublicThumbnail", "Public", new { id = Model.Person.Id })' alt='@string.Format("{0}'s Profile Picture", @Model.Person.FullName)' />
        }
        else
        {
            <img src='@Url.Action("GetThumbnail", "Person", new { id = Model.Person.Id })' alt='@string.Format("{0}'s Profile Picture", @Model.Person.FullName)' />
        }
    </div>
    <div class="span10">
        <h3>
        @if (publicProfile)
        {
            <text>@Model.Person.FullName</text>
        }
        else
        {
            @Html.ActionLink(Model.Person.FullName, "Profile", new { id = Model.Person.Id, seminarId = Model.Seminar != null ? Model.Seminar.Id.ToString() : string.Empty })
        }
        </h3>
        
        <div class="dp-title">
            @Model.Title
            |
            @if (Model.Firm != null)
            { 
                @Model.Firm.Name
            }
      
            else
            { 
                <text>No firm has been defined for this person</text>
            }           
        </div>
        
        
        @if ((Model.Firm != null) && !publicProfile)
        {
            <div class="dp-firm">
            @Model.Firm.Description
            </div>
        }       
        
        @if (!publicProfile)
        {
            <aside class="list-item-vcard">
                <a href='@Url.Action("GetvCard", "Person", new { id = Model.Person.Id })' class="btn hastip" title="Download Contact Card (vCard)">
                    <i class="icon-user"></i>
                </a>    
            </aside>
        }
    </div>
</div>
