<ul class="nav nav-pills">
    <li class="@(ViewBag.SubNav == SubNav.SteeringCommittee ? "active" : string.Empty)">@Html.ActionLink("Steering Committee", "SteeringCommittee", "Public")</li>    
    <li class="@(ViewBag.SubNav == SubNav.CaseStudies ? "active" : string.Empty)">@Html.ActionLink("Case Studies", "CaseExamples", "Public")</li>    
    <li class="@(ViewBag.SubNav == SubNav.Venue ? "active" : string.Empty)">@Html.ActionLink("Venue", "Venue", "Public")</li>
    <li class="@(ViewBag.SubNav == SubNav.ContactUs ? "active" : string.Empty)">@Html.ActionLink("Contact Us", "ContactUs", "Public")</li>
</ul>
