
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ol>
    <li>@Html.ActionLink("Import Firms", "Firms", "Firm")</li>
    <li>@Html.ActionLink("Import Archived Firms", "ArchivedFirms", "Firm")</li>

    <li>@Html.ActionLink("Contact Firms Linking Table", "ContactFirms", "ContactFirms")</li>
    <li>@Html.ActionLink("Archived Contact Firms Linking Table", "ArchiveContactFirms", "ContactFirms")</li>

    <li>@Html.ActionLink("Import Seminar Table", "Seminar", "Seminar")</li>
    <li>@Html.ActionLink("Import Archive Seminar Table", "ArchiveSeminar", "Seminar")</li>
</ol>