@model Agribusiness.Web.Models.AuthorizedViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.SubPageTitle = "";

    // build the current seminar information
    var seminarInfo = string.Format("{0} {1}-{2}, {3} at the {4}", Model.Seminar.Begin.ToString("MMMM"), Model.Seminar.Begin.Day, Model.Seminar.End.Day, Model.Seminar.Begin.Year, Model.Seminar.Location);
}

@section ScriptContent
{
    <style type="text/css">
        #welcome-msg, #current-seminar, #application {margin-bottom: 1em;}
        h3 {margin-bottom: .5em;}
    </style>
}

<div id="welcome-msg">@string.Format("Welcome {0}!", Model.Person.FullName)</div>

<div id="current-seminar">Thank you for your interest in the UC Davis Agribusiness Executive Seminar.  We hope you'll join us @seminarInfo.</div>

<div id="application">

@if (Model.Application == null)
{
    <h3>Apply</h3>
    
    <p>Please @Html.ActionLink("click here", "Apply", "SeminarApplication") to begin the application process.</p>
    <p>(Note, participation is strictly limited to those with the background interests to contribute most fully to the discussion at this year's seminar.  Application does not imply acceptance for participation.)</p>
}
else
{
    // released provide real information
    if (Model.Seminar.ReleaseToAttendees)
    {
        if (Model.Application.IsPending)
        { 
            <p>Your application is pending, you will be notified when a decision has been made.</p>
        }
        else
        {
            if (Model.Application.IsApproved)
            { 
                <p>
                    @string.Format("The upcoming seminar is on {0}, to download documents and see other attendees click ", Model.Seminar.Begin.ToShortDateString())
                    @Html.ActionLink("Here", "MySeminar", "Seminar", new { id = Model.SeminarPerson.Id }, new { })
                </p>
            }
            else
            { 
                <p>Your application has not been accepted.</p>
            }
        }
    }
    // not released just give pending status
    else
    {
        <p>Your application is pending, you will be notified when a decision has been made.</p>
    }
}

</div>

<h3>Past Seminars</h3>
@if (Model.SeminarPeople.Any())
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Date Time</th>
                <th>Location</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.SeminarPeople)
            { 
                <tr>
                    <td></td>
                    <td>@a.Seminar.Year</td>
                    <td>@a.Seminar.Begin.ToShortDateString()</td>
                    <td>@a.Seminar.Location</td>
                    <td>@string.Join(", ", a.SeminarRoles)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    <p>We welcome you to attend your first seminar.  If you have any questions, please feel free to @Html.ActionLink("contact us", "ContactUs", "Public").</p>
}