@model Agribusiness.Web.Models.AuthorizedViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.SubPageTitle = "";
}

<fieldset>
@if (Model.Application == null)
{
    <p>Come join us on @Model.Seminar.Begin.ToShortDateString() for the California Agribusiness Executive Seminar.</p>
    
    <div class="text_btn">
        @Html.ActionLink("Apply", "Apply", "SeminarApplication")
    </div>
}
else
{
    // released provide real information
    if (Model.Seminar.ReleaseToAttendees)
    {
        if (Model.Application.IsPending)
        { 
            <p>Your application is pending, you will be notified when a decision has been made.</p>
        }
        else
        {
            if (Model.Application.IsApproved)
            { 
                <p>
                    @string.Format("The upcoming seminar is on {0}, to download documents and see other attendees click ", Model.Seminar.Begin.ToShortDateString())
                    @Html.ActionLink("Here", "MySeminar", "Seminar", new { id = Model.SeminarPerson.Id }, new { })
                </p>
            }
            else
            { 
                <p>Your application has been rejected.</p>
            }
        }
    }
    // not released just give pending status
    else
    {
        <p>Your application is pending, you will be notified when a decision has been made.</p>
    }





}
</fieldset>

<h3>Past Seminars</h3>
@if (Model.SeminarPeople.Any())
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Date Time</th>
                <th>Location</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.SeminarPeople)
            { 
                <tr>
                    <td></td>
                    <td>@a.Seminar.Year</td>
                    <td>@a.Seminar.Begin.ToShortDateString()</td>
                    <td>@a.Seminar.Location</td>
                    <td>@string.Join(", ", a.SeminarRoles)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    @Html.Partial("_Message", new MessageModel() { IsError = false, Message = "You have not been a part of any past seminars." })
}