@model AuthorizedViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.SubPageTitle = "";

    // build the current seminar information
    var seminarInfo = string.Format("{0} {1}-{2}, {3} at the {4}", Model.Seminar.Begin.ToString("MMMM"), Model.Seminar.Begin.Day, Model.Seminar.End.Day, Model.Seminar.Begin.Year, Model.Seminar.Location);
}

@section ScriptContent
{
    <style type="text/css">
        #welcome-msg, #current-seminar, #application, #brochure {margin-bottom: 1em;}
        h3 {margin-bottom: .5em;}
        
        .text_btn { margin: 2em 0;}
        
        p {margin: 1em 0;}
    </style>
}

<hr style="width: .5px solid lightgray; margin-bottom: 1em;"/>

<h3 id="welcome-msg">@string.Format("Welcome {0}!", Model.Person.FullName)</h3>

@*no active seminar, given 7 day period after last active*@
@if (Model.Seminar.End.Date.AddDays(7) < DateTime.Now.Date)
{
    <text>Please check back in the future for more information on our next event!</text>
}
@*Active seminar*@
else
{
    @*<div id="current-seminar">Thank you for your interest in the @Model.Seminar.Site.Name.  We hope you'll join us @seminarInfo.</div>    *@
    
    if (Model.Seminar.Files.Any(a => a.MySeminar))
    {
        <ul class="nav nav-pills">
            @foreach (var f in Model.Seminar.Files.Where(a => a.MySeminar))
            {
                <li><a href="@Url.Action("Download", "File", new { id = f.Id })">
                        <i class="icon-download"></i>
                        Download @f.Name
                    </a>
                </li>    
            }
        </ul>
    }

    if (Model.Seminar.OpenForRegistration)
    {
        //no application yet
        if (Model.Application == null)
        {
            // user is invited, unless invitation override is active
            if (Model.Invited || !Model.Seminar.RequireInvitation)
            {
                <p>
                    To begin the application process online, click on the Apply Online button below.
                </p>
    
                if (Model.Seminar.RequireApproval)
                {
                    <p style="margin-bottom: 1em;"><em>(Participation is strictly limited. Application does not imply acceptance for participation.)</em></p>    
                }
    
                <a href='@Url.Action("Apply", "SeminarApplication")' class="btn btn-primary">Click here to Apply Online</a>
            }
            // not invited and requires invitation
            else
            {
                <p>Please wait for an invitation and check back later.</p>
            }
        }
        // person has already submitted application
        else
        {
            if (Model.Seminar.ReleaseToAttendees)
            {
                if (Model.Application.IsPending)
                {
                    <text>
                        Thank you for submitting your application to the @Model.Seminar.Site.Name.  Your application has been received and will be reviewed for admission. Applicants will be notified of admission decisions @(Model.Seminar.AcceptanceDate.HasValue ? string.Format("by {0}", string.Format("{0: MMMM dd, yyyy}", Model.Seminar.AcceptanceDate.Value)) : "in the near future.").  If you have any questions, please feel free to contact Chris Akins at <a href="mailto:crakins@ucdavis.edu">crakins@ucdavis.edu</a>.
                    </text>
                }
                else
                {
                    if (Model.Application.IsApproved)
                    {
                        if (Model.Seminar.RequireApproval)
                        { 
                             <div class="ui-state-highlight" style="padding: 1em;">
                            Congratulations! You have been accepted for the @Model.Seminar.Year @Model.Seminar.Site.Name! Below is additional information for you to review. Please contact <a href="mailto:crakins@ucdavis.edu">Chris Akins</a> if you have questions. 
                            </div>
                        }
                        else
                        { 
                            <div class="ui-state-highlight" style="padding:1em;">
                                Thank you for registering for the @Model.Seminar.Site.Name.  We look forward to seeing you @seminarInfo.
                            </div>
                        }
                            <div>@Html.ActionLink(Model.Seminar.Year + " Seminar Information", "MySeminar", "Seminar", new { id = Model.SeminarPerson.Id }, new { @class = "btn" })</div>
                    }
                    else
                    {
                         <p>
                        Thank you for your interest in the @Model.Seminar.Year @Model.Seminar.Site.Name. We received your application, but we are sorry to inform you that we are at capacity. We are limited in the number of people we can accept due to the room size. We will keep your application for future consideration. Thank you your interest. 
                        </p>
                    }
                }
            }
            else
            {
                if (Model.Seminar.RequireApproval)
                {
                <p>
                Thank you for submitting your application to the @Model.Seminar.Site.Name.  Your application has been received and will be reviewed for admission. Applicants will be notified of admission decisions @(Model.Seminar.AcceptanceDate.HasValue ? string.Format("by {0}", string.Format("{0: MMMM dd, yyyy}", Model.Seminar.AcceptanceDate.Value)) : "in the near future.")).  If you have any questions, please feel free to contact Chris Akins at <a href="mailto:crakins@ucdavis.edu">crakins@ucdavis.edu</a>.
                </p>
                }
                else
                {
                    <p>
                        Thank you for submitting your application to the @Model.Seminar.Site.Name.  Plese check back later for more information.
                    </p>
                }
            }
        }
    }
    else
    {
        if (Model.Seminar.RegistrationBegin.HasValue)
        { 
            <p>Registration will begin on @Model.Seminar.RegistrationBegin.Value.ToShortDateString().</p>
        }
        else
        { 
            <p>Registration will begin in the near future, please check back.</p>
        }
    }    
    
}

@if (Model.SeminarPeople.Any())
{
    <h3>Past Seminars</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Date Time</th>
                <th>Location</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.SeminarPeople)
            { 
                <tr>
                    <td></td>
                    <td>@a.Seminar.Year</td>
                    <td>@a.Seminar.Begin.ToShortDateString()</td>
                    <td>@a.Seminar.Location</td>
                    <td>@string.Join(", ", a.SeminarRoles)</td>
                </tr>
            }
        </tbody>
    </table>
}