@model Agribusiness.Web.Models.AuthorizedViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.SubPageTitle = "";

    // build the current seminar information
    var seminarInfo = string.Format("{0} {1}-{2}, {3} at the {4}", Model.Seminar.Begin.ToString("MMMM"), Model.Seminar.Begin.Day, Model.Seminar.End.Day, Model.Seminar.Begin.Year, Model.Seminar.Location);
}

@section ScriptContent
{
    <style type="text/css">
        #welcome-msg, #current-seminar, #application {margin-bottom: 1em;}
        h3 {margin-bottom: .5em;}
        
        .text_btn { margin: 2em 0;}
    </style>
}

<div id="welcome-msg">@string.Format("Welcome {0}!", Model.Person.FullName)</div>

<div id="current-seminar">Thank you for your interest in the UC Davis Agribusiness Executive Seminar.  We hope you'll join us @seminarInfo.</div>

<div id="application">

@if (Model.Application == null)
{
    if (Model.Invited)
    {
    <h3>Apply</h3>
    
    <p>Please @Html.ActionLink("click here", "Apply", "SeminarApplication") to begin the application process.</p>
    @*<p>(Note, participation is strictly limited to those with the background interests to contribute most fully to the discussion at this year's seminar.  Application does not imply acceptance for participation.)</p>        *@
    
    <p style="margin-bottom: 1em;">(Participation is strictly limited. Application does not imply acceptance for participation.)</p>
    
    <div class="text_btn" >
    <a href='@Url.Action("Apply", "SeminarApplication")'>Click here to Apply</a>
    </div>
    }
}
else
{
    // released provide real information
    if (Model.Seminar.ReleaseToAttendees)
    {
        if (Model.Application.IsPending)
        { 
            
            <p>
                Thank you for submitting your application to the UC Davis Agribusiness Executive Seminar.  Your application has been received and will be reviewed for admission. Applicants will be notified of admission decisions @(Model.Seminar.AcceptanceDate.HasValue ? string.Format("by {0}", Model.Seminar.AcceptanceDate.Value.ToString("d")) : "in the near future.")).  If you have any questions, please feel free to contact Chris Akins at <a href="mailto:crakins@ucdavis.edu">crakins@ucdavis.edu</a>.
            </p>
            
            @*<p>Your application is pending, you will be notified when a decision has been made.</p>*@
        }
        else
        {
            if (Model.Application.IsApproved)
            { 
                <p>
                    @string.Format("The upcoming seminar is on {0}, to download documents and see other attendees click ", Model.Seminar.Begin.ToShortDateString())
                    @Html.ActionLink("Here", "MySeminar", "Seminar", new { id = Model.SeminarPerson.Id }, new { })
                </p>
            }
            else
            { 
                <p>
                Thank you for your interest in the @Model.Seminar.Year UC Davis Agribusiness Executive Seminar. We received your application, but I am really sorry to inform you that we are at capacity. We are limited in the number of people we can accept due to the room size. We will keep your application for future consideration. Thank you your interest. 
                </p>
            }
        }
    }
    // not released just give pending status
    else
    {
        @*<p>Your application is pending, you will be notified @(Model.Seminar.AcceptanceDate.HasValue ? string.Format("by {0}.", @Model.Seminar.AcceptanceDate.Value.ToString("d")) : "when a decision has been made.")</p>*@
    
        <p>
            Thank you for submitting your application to the UC Davis Agribusiness Executive Seminar.  Your application has been received and will be reviewed for admission. Applicants will be notified of admission decisions @(Model.Seminar.AcceptanceDate.HasValue ? string.Format("by {0}", Model.Seminar.AcceptanceDate.Value.ToString("d")) : "in the near future.")).  If you have any questions, please feel free to contact Chris Akins at <a href="emailto:crakins@ucdavis.edu">crakins@ucdavis.edu</a>.
        </p>
    }
}

</div>

<h3>Past Seminars</h3>
@if (Model.SeminarPeople.Any())
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Year</th>
                <th>Date Time</th>
                <th>Location</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.SeminarPeople)
            { 
                <tr>
                    <td></td>
                    <td>@a.Seminar.Year</td>
                    <td>@a.Seminar.Begin.ToShortDateString()</td>
                    <td>@a.Seminar.Location</td>
                    <td>@string.Join(", ", a.SeminarRoles)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    <p>We welcome you to attend your first seminar.  If you have any questions, please feel free to @Html.ActionLink("contact us", "ContactUs", "Public").</p>
}