@model Agribusiness.Web.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
    ViewBag.SubPageTitle = "Log On";
    var site = ViewContext.RouteData.Values["site"] as string;
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new {@class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="UserName">User Name</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="control-group">
                <label for="Password" class="control-label">Password</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="control-group">
                <label for="RememberMe" class="control-label">Remember Me</label>
                <div class="controls">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe)
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Log On"/>    
    </div>
}

<p>Please enter your username and password. Forgot your password? @Html.ActionLink("Click Here", "ResetPassword")</p>

<p>If you are an administrator log in @Html.ActionLink("here", "Admin", "Home", new {membershipLogon = false}, new {}).</p>