@{
    ViewBag.Title = "Retrieve Password";
    ViewBag.SubPageTitle = "Retrieve Password"; 
    var site = ViewData["site"] as string;
}

@Html.ValidationSummary(true, "Please correct the following errors:")

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class="form-horizontal"})) { 
    @Html.AntiForgeryToken()
    @Html.Hidden("Site", site)
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                <label for="UserName" class="control-label">User Name</label>
                <div class="controls">
                    @Html.TextBox("userName")
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p class="help-block">
                        -- OR --
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label for="Email" class="control-label">Email</label>
                <div class="controls">
                    @Html.TextBox("email")
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Retrieve Password"/>
    </div>
}