@model CaseExampleViewModel

@{
    ViewBag.Title = "Case Studies";

}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
<style type="text/css">
    
    p {margin: 1em 0;}
    h3 {margin-bottom: 1.5em;}
    
    .seminar-group
    {
        border:none;
        padding: 1em;
        margin: 1em;
    }
    
    .seminar-group legend
    {
        font-weight: bold;
        font-size: medium;
    }
    
    .seminar-group ul
    {
        list-style: none;
        margin: .5em 0;
    }
    
</style>
}

<h2>Case Studies</h2>

<p>
The Seminar revolves around the discussion of company case studies and issue papers that explore important issues facing agriculture. A list of past cases and issues provides a sense of the content of the seminar.
</p>

<h3 style="font-weight: normal;">Past Case Studies and Issue Papers have included:</h3>

@foreach (var year in Model.CaseStudies.Select(a => a.Seminar.Year).OrderBy(a => a).Distinct())
{
    <fieldset class="seminar-group">
    
        @if (year >= 2012)
        {
            <legend>@string.Format("{0} UC Davis Agribusiness Executive Seminar", year)</legend>
        }
        else
        {
            <legend>@string.Format("{0} California Agribusiness Executive Seminar", year)</legend>    
        }

        <ul>
            @foreach (var caseStudy in Model.CaseStudies.Where(a => a.Seminar.Year == year).OrderBy(a => a.Name))
            {
                <li>@caseStudy.Name</li>
            }
        </ul>

    </fieldset>
}

<!-- No Case Studies for the current seminar -->
@if (!Model.CaseStudies.Select(a => a.Seminar.Year).Contains(Model.CurrentSeminar.Year))
{
    <fieldset class="seminar-group">
    
        <legend>@string.Format("{0} UC Davis Agribusiness Executive Seminar", Model.CurrentSeminar.Year)</legend>

        <p><em>Coming in October 2011</em></p>

    </fieldset>
}