@using Agribusiness.Web.App_GlobalResources
@model CaseExampleViewModel

@{
    ViewBag.Title = "Case Studies";
    ViewBag.SubPageTitle = "Case Studies";

    if (Model.CurrentSeminar != null && Model.CurrentSeminar.SeminarPeople.SelectMany(a => a.SeminarRoles).Any(a => a.Id == StaticIndexes.Role_SteeringCommittee))
    {
        ViewData["hasSteeringCommittee"] = true;
    }
    else
    {
        ViewData["hasSteeringCommittee"] = false;
    }

    var siteId = ViewData["site"] as string;
    var site = Agribusiness.Web.Services.SiteService.LoadSite(siteId);
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
<style type="text/css">
    
    p {margin: 1em 0;}
    h3 {margin-bottom: 1.5em;}
    
    .seminar-group
    {
        border:none;
        padding: 1em;
        margin: 1em;
    }
    
    .seminar-group legend
    {
        font-weight: bold;
        font-size: medium;
    }
    
    .seminar-group ul
    {
        list-style: none;
        margin: .5em 0;
    }
    
</style>
}


<p>
The @site.EventType revolves around the discussion of company case studies and issue papers that explore important issues facing agriculture. A list of past cases and issues provides a sense of the content of the @site.EventType.
</p>

<!-- No Case Studies for the current seminar -->
@if (!Model.CurrentSeminar.ReleaseCaseStudyList)
{
    <h3>@string.Format("{0} {1}", Model.CurrentSeminar.Year, Model.CurrentSeminar.Site.Name)</h3>

    if (!string.IsNullOrEmpty(Model.CurrentSeminar.CaseStudyText))
    {
        @Html.Raw(Model.CurrentSeminar.CaseStudyText)         
    }
    else
    {
        <div class="well">
        <p>Case examples are not available at this time.  Please check back later.</p>
        </div>
    }
}
else
{
    <h3>@string.Format("{0} {1}", Model.CurrentSeminar.Year, Model.CurrentSeminar.Site.Name)</h3>

    <ul class="unstyled">
        @foreach (var caseStudy in Model.CurrentSeminar.CaseStudies)
        {
            <li>@caseStudy.Name</li>
        }
    </ul>
}

<h3 style="color: #014A81;border-bottom: 1px solid #EEE; padding-bottom: 1em;">Past Case Studies and Issue Papers have included:</h3>

@if (Model.CaseStudies.Any())
{
    foreach (var year in Model.CaseStudies.Where(a => a.Seminar.Year != Model.CurrentSeminar.Year).Select(a => a.Seminar.Year).OrderBy(a => a).Distinct())
    {
        if (year >= 2012)
        {
            <h3>@string.Format("{0} UC Davis Agribusiness Executive Seminar", year)</h3>
        }
        else
        {
            <h3>@string.Format("{0} California Agribusiness Executive Seminar", year)</h3>    
        }

        <ul class="unstyled">
            @foreach (var caseStudy in Model.CaseStudies.Where(a => a.Seminar.Year == year).OrderBy(a => a.Name))
            {
                <li>@caseStudy.Name</li>
            }
        </ul>
    }
}
else
{
    <div class="well">
        <p>Past case studies are unavailable at this time.</p>
    </div>
}