@using Agribusiness.Web.Helpers;
@model InformationRequest

@{
    ViewBag.Title = "More Information";
    ViewBag.SubPageTitle = "Request More Information";
}

@section SubPageNavigation
{      
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to Home", "Index", "Home")</li>
    </ul>
}

@Html.ValidationSummary(false, "Please correct the following errors:")

@using (Html.BeginForm("MoreInformation", "Public", FormMethod.Post, new {@class="form-horizontal"})) { 

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Site.Id)
    
    <div class="control-group">
        <fieldset>

            <p class="well">Please fill out this form and someone will contact you with more details.</p>

            <div class="control-group">
                <label class="control-label" for="Name">
                    Name
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Name)
                    @Html.ValidationMessageFor(a=>a.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Title">
                    Title
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Title)
                    @Html.ValidationMessageFor(a=>a.Title)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Company">
                    Company
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Company)
                    @Html.ValidationMessageFor(a=>a.Company)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">
                    Email
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Email)
                    @Html.ValidationMessageFor(a=>a.Email)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Commodity">
                    Commodity
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Commodity)
                    @Html.ValidationMessageFor(a=>a.Commodity)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Location">
                    Location
                    <span class="required">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(a=>a.Location)
                    @Html.ValidationMessageFor(a=>a.Location)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="captcha" class="control-label">&nbsp;</label>
                <div class="controls">
                    @{var captcha = Html.GenerateCaptcha();}
                    @Html.Raw(captcha)
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", "Home", new {@class="btn"})
    </div>

}

