@model Agribusiness.Core.Domain.SeminarPerson

@section ScriptContent
{
    <style type="text/css">
    
        #profile-name {color: #014A81;margin: 1em 0;}
        #biography {margin-top: 1em;}
        #biography p {margin-top: .75em;text-indent:25px;}
    
    </style>
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

<div class="row-fluid">
<div class="span12">
    <img src="@Url.Action("GetPublicPicture", new {id=Model.Person.Id} )" alt="@(string.Format("{0} profile picture", Model.Person.FullName))"/>
</div>

<div class="span12">
    <h2 id="profile-name">@Model.Person.FullName</h2>
</div>

<div id="biography" class="span12">
    @Html.Raw(@Model.Person.Biography)
</div>    
</div>

