@model Seminar

@{
    ViewBag.Title = "Program Overview";
    ViewBag.SubPageTitle = "Program Overview";
}

@section SubPageNavigation
{
    @Html.Partial("_PublicSubNavigation")
}

@section ScriptContent
{
    <style type="text/css">
        table
        {
        border: none;
        }

        tr > td:first-child, tr > td:last-child
        {
        text-align: left;
        }

        tr  > td:first-child
        {
        width:15%; 
        }
    </style>
}

@if (Model != null)
{
    if (Model.Files.Any(a => a.ProgramOverview))
    {
        <ul class="nav nav-pills">
            @foreach (var f in Model.Files.Where(a => a.ProgramOverview))
            {
                <li><a href="@Url.Action("Download", "File", new { id = f.Id })">
                        <i class="icon-download"></i>
                        Download @f.Name
                    </a>
                </li>    
            }
        </ul>
    }

    if (Model.ReleaseSchedule)
    {
        var dates = Model.Sessions.Where(a => a.Begin.HasValue).Select(a => a.Begin.Value.Date).Distinct();

        foreach (var date in dates)
        {
            var sessions = Model.Sessions.Where(a => a.Begin.HasValue && a.Begin.Value.Date == date);

            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2">
                            @String.Format("{0:dddd, MMMM d}", date)            
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var session in sessions.OrderBy(a => a.Begin))
                    {
                        <tr>
                            <td>
                            @if (session.Begin.HasValue && session.End.HasValue)
                            {
                                @string.Format("{0}-{1}", session.Begin.Value.ToString("t"), session.End.Value.ToString("t"))
                            }
                            else
                            {
                                @(session.Begin.HasValue ? session.Begin.Value.ToString("t") : string.Empty)     
                            }
                            </td>
                            <td>@session.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else if (!string.IsNullOrEmpty(Model.ProgramInformation))
    {
        @Html.Raw(Model.ProgramInformation)
    }
    else
    {
        <p>Information about the @Model.Year @Model.Site.Name is not available at this time.  Please check back later.</p>
    }
}
else
{
    <p>Information is not available at this time.  Please check back later.</p>
}

