@model Agribusiness.Core.Domain.MailingList


@{
    ViewBag.Title = "Mailing List Details";
    ViewBag.SubPageTitle = "Mailing List Details";
}

@section ScriptContent{
    <link rel="stylesheet" type="text/css" href="@Url.Css("jquery.AutoCompleteSelect.css")"/>
}

@section SubPageNavigation
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

<fieldset class="display-form">
    <legend>MailingList</legend>
	<ul>

		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Name</div>
		</li>

        <li>
            <div class="display-label">People</div>
            <div class="display-details">
            
                <div class="ac-container ac-gradientbackground">
                
                    <div class="ac-selectedContainer">
                    
                        @foreach (var person in Model.People.OrderBy(a => a.LastName))
                        {
                            <span class="ac-selected ac-gradientbackground">
                                <span style="display:inline-block;">@person.FullName</span>
                            </span>
                        }

                    </div>

                </div>

            </div>
        </li>

		<li>
			<div class="display-label">DateCreated</div>
			<div class="display-details">@String.Format("{0:g}", Model.DateCreated)</div>
		</li>

		<li>
			<div class="display-label">DateUpdated</div>
			<div class="display-details">@String.Format("{0:g}", Model.DateUpdated)</div>
		</li>

	</ul>
</fieldset>