@model HomeViewModel

@{
    if (Model.Site != null)
    {
        ViewBag.HeaderTitle = Model.Site.Name;    
    }

    ViewBag.SubPageTitle = "UC Davis Agribusiness";
}

@section ScriptContent
{
}

@section SubPageNavigation
{
    @if (Model.Site != null)
    {
    @Html.Partial("_PublicSubNavigation")
    }
}

@*Landing Page*@
@if (Model.Site == null)
{
<text>NO site specified</text>
}
else
{
<text>@Model.Site.Name</text>    
}

@*<img src='@Url.Content("~/Images/collage.jpg")' alt="Collage of Agricultural images" />

<p>
    @if (Model == null)
    { 
        <text>There is no current seminar.</text>
    }
    else
    { 
        <p>The UC Davis Agribusiness Executive Seminar provides an opportunity for top executives to discuss management cases and related issues over an intensive three day program.  UC Davis organizes and manages the seminar together with Wells Fargo Bank, and with guidance from a steering committee of leaders in California agribusiness.  Participation is strictly limited to about eighty top leaders from agricultural firms and industries.</p>
        
        <p>The academic and intellectual foundations and support for the program are provided by the Department of Agricultural and Resource Economics at the University of California at Davis and the University of California Agricultural Issues Center. The Agribusiness Executive Seminar has a long tradition of practical leadership information based on solid intellectual foundations and ample opportunities for dialogue among agribusiness leaders.</p>
        
        <p>Important issues are addressed through detailed case studies of strategic decisions that are prepared by experts from the University of California, Wells Fargo and elsewhere working closely with CEOs and other key decision makers.  Case studies are distributed to participants well before the seminar to allow preparation for a vigorous discussion.  The thorough analysis and discussion of each case covers several hours at the seminar both in small groups and with the participants as a whole.  The key decision maker from the subject firm and the case study co-author lead the discussions at the seminar.  The seminar schedule allows time for informal social interactions, which facilitates further discussion of the issues and cases as well.</p>
        
        <p>In 2010, the seminar analyzed firm-based cases related to: Blue Diamond Growers (a cooperative of almond growers with a significant line branded products), Kroger Stores (a major national food retailer), Schnucks (a privately held food retailer in the Midwest) and Taylor Farms (a major grower and marketer of fresh salads and other vegetables).   The 2010 seminar also features panel presentations and discussion with new information about social media, information technology, agricultural cycles and irrigation water.</p>
        
        <p>
        To contact us for more information on the seminar, please click @Html.ActionLink("here", "MoreInformation", "Public").
        </p>
            
        <ul class="seminar-info">
            <li>@(string.Format("{0} Seminar", Model.Year))</li>
            <li>@(string.Format("{0} through {1}", Model.Begin.ToString("f"), Model.End.ToString("f")))</li>
            <li>
            @if (string.IsNullOrWhiteSpace(Model.LocationLink))
            {
                <text>@Model.Location</text>
            }
            else
            {
                <a href='@Model.LocationLink'>@Model.Location</a>
            }
            </li>
            <li>
            @if (Model.Cost.HasValue)
            {
            @(string.Format("Seminar fee: {0}", string.Format("{0:C}", Model.Cost)))
            }
            else
            {
                 <text>Seminar fee: n/a</text>
            }
            </li>
        </ul>
    }
</p>

<p>Sponsored by:<br />
    <a href="http://caes.ucdavis.edu">College of Agricultural and Environmental Sciences, UC Davis</a> and <a href="http://www.wellsfargo.com">Wells Fargo Bank</a>
</p>*@