@model Seminar

@section ScriptContent
{
    <style type="text/css">
        p {margin-top: 1em;}
    </style>
}

<img src='@Url.Content("~/Images/collage.jpg")' alt="Collage of Agricultural images" />

<p>The UC Davis Agribusiness Executive Seminar brings together experienced top executives to discuss strategic issues and current trends facing agribusiness in an ever-changing environment. The program objective is to enhance strategic thinking, thus improving our participants’ ability to identify, analyze and address opportunities and challenges in their businesses. The seminar also provides an unusual opportunity for informal exchange among industry leaders. This is a by-invitation-only event.</p>

<p>
    <strong>

        @if (Model == null)
        { 
            <text>There is no current seminar.</text>
        }
        else
        { 
            <p>
                @Model.Begin.ToString("g") through @Model.End.ToString("g")<br />
                @if (string.IsNullOrWhiteSpace(Model.LocationLink))
                {
                    <text>@Model.Location</text>
                }
                else
                {
                    <a href='@Model.LocationLink'>@Model.Location</a>
                }
            </p>
        }
    </strong>
</p>

<p>Sponsored by:<br />
    College of Agricultural and Environmental Sciences, UC Davis and Wells Fargo Bank
</p>