@model NotificationTrackingViewModel

@Html.HiddenFor(a=>a.NotificationTracking.NotifiedBy)      
@Html.Hidden("NotificationTracking.Seminar", Model.Seminar.Id)

<div class="control-group">
    <fieldset>
        <div class="control-group">
            <label for="MailingList" class="control-label">Mailing List</label>
            <div class="controls">
                @this.Select("mailingListId").Options(Model.MailingLists, x=>x.Id, x=>x.Name).FirstOption("--Select Mailing List--").Selected(Model.MailingList != null ? Model.MailingList.Id : 0)
                @Html.ValidationMessageFor(model => model.MailingList)
            </div>
        </div>
        <div class="control-group">
            <label for="Name" class="control-label">Name(s)</label>
            <div class="controls">
                <div id="person-name-container" class="well">
                    @foreach (var a in Model.People)
                    { 
                        <div class="person-name">
                            @a.FullName @*<span class="ui-icon ui-icon-closethick remove-name" style="display:inline-block;"></span>*@
                            <a href="#" class="btn btn-mini remove-name"><i class="icon-minus"></i></a>
                            @Html.Hidden("People", a.Id)
                        </div>
                    }
                </div>
                <a href="#" id="add-name" class="btn"><i class="icon-plus"></i>Add Person</a>
                <a href="#" id="add-site-name" class="btn"><i class="icon-plus"></i>Add Site Person</a>
            </div>
        </div>
        <div class="control-group">
            <label for="NotificationMethod" class="control-label">Method</label>
            <div class="controls">
                @this.Select("NotificationTracking.NotificationMethod").Selected(Model.NotificationTracking.NotificationMethod != null ? Model.NotificationTracking.NotificationMethod.Id : string.Empty).Options(Model.NotificationMethods, x=>x.Id, x=>x.Name).FirstOption("--Select a Method--")
                @Html.ValidationMessageFor(model => model.NotificationTracking.NotificationMethod)
            </div>
        </div>
        <div class="control-group">
            <label for="NotificationTracking.NotificationType" class="control-label">Type</label>
            <div class="controls">
                @this.Select("NotificationTracking.NotificationType").Selected(Model.NotificationTracking.NotificationType != null ? Model.NotificationTracking.NotificationType.Id : string.Empty).Options(Model.NotificationTypes, x=>x.Id, x=>x.Name).FirstOption("--Select a Type--")
                @Html.ValidationMessageFor(model => model.NotificationTracking.NotificationType)
            </div>
        </div>
        <div class="control-group">
            <label for="NotificationTracking.Comments" class="control-label">Comments</label>
            <div class="controls">
                @Html.EditorFor(model => model.NotificationTracking.Comments)
                @Html.ValidationMessageFor(model => model.NotificationTracking.Comments)
            </div>
        </div>
    </fieldset>
</div>

<div id="add-name-dialog" class="modal hide">
    
    <div class="modal-header">Add Person</div>
    <div class="modal-body">
        @this.MultiSelect("select-name").Options(Model.AllPeople.OrderBy(a => a.LastName), x => x.Id, x => x.FullName).Size(10)
        <a href="#" id="add-selectall" class="btn">Select All</a>
        <a href="#" id="add-unselectall" class="btn">UnSelect All</a>
    </div>
    <div class="modal-footer">
        <a href="#" id="add-recipients" class="btn btn-primary">Add</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

</div>

<div id="add-site-name-dialog" class="modal hide">
    
    <div class="modal-header">Add Site Person</div>
    <div class="modal-body">
        @this.MultiSelect("select-site-name").Options(Model.SitePeople.OrderBy(a => a.LastName), x => x.Id, x => x.FullName).Size(10)
        <a href="#" id="add-site-selectall" class="btn">Select All</a>
        <a href="#" id="add-site-unselectall" class="btn">UnSelect All</a>
    </div>
    <div class="modal-footer">
        <a href="#" id="add-site-recipients" class="btn btn-primary">Add</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

</div>
