@model NotificationTrackingViewModel

@{
    ViewBag.Title = "Create Notification Tracking";
    ViewBag.SubPageTitle = "Create Notification Tracking";
    ViewBag.ShowSave = true;
}

@section SubPageNavigation{
    <ul class="nav nav-pills">
        <li>
        @if (Model.People.Count == 1)
        {
            var userId = Model.People[0].User.Id;
            @Html.ActionLink("Back to Profile", "AdminEdit", "Person", new { id = userId, seminarId = Model.Seminar.Id }, new { })
        }
        else
        { 
            @Html.ActionLink("Back to Seminar", "Details", "Seminar", new { id = Model.Seminar.Id }, new { })
        }
        </li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_NotificationScripts")
}

@Html.ValidationSummary(false)

@using (Html.BeginForm("Create", "Notification", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    @Html.AntiForgeryToken()

    @Html.Partial("_NotificationTracking")

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" /> | 
        @if (Model.People.Count == 1)
        {
            var userId = Model.People[0].User.Id;
            @Html.ActionLink("Cancel", "AdminEdit", "Person", new { id = userId, seminarId = Model.Seminar.Id }, new { @class = "btn" })
        }
        else
        { 
            @Html.ActionLink("Cancel", "Details", "Seminar", new { id = Model.Seminar.Id }, new { @class = "btn" })
        }
    </div>
}
