@model Agribusiness.Web.Models.SendNotificationViewModel

@{
    ViewBag.Title = "Send Notification";
    ViewBag.SubPageTitle = "Send Notification";
}

@section SubPageNavigation{
    <ul class="navigation">
        <li>
        @if (Model.NotificationTrackingViewModel.People.Count == 1)
        {
            var userId = Model.NotificationTrackingViewModel.People[0].User.Id;
            @Html.ActionLink("Back to Profile", "AdminEdit", "Person", new { id = userId, seminarId = Model.NotificationTrackingViewModel.Seminar.Id }, new { })
        }
        else
        { 
            @Html.ActionLink("Back to Seminar", "Details", "Seminar", new { id = Model.NotificationTrackingViewModel.Seminar.Id }, new { })
        }
        </li>
    </ul>
}


@Html.ValidationSummary(false)

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()

    @Html.Partial("_NotificationTracking", Model.NotificationTrackingViewModel)
    
    <fieldset>
        <legend>Notification Message</legend>
        <ul>
            <li><div class="editor-label required">Subject<span>*</span></div>
                <div class="editor-field">@Html.TextBoxFor(a=>a.EmailQueue.Subject)</div>
            </li>
            <li><div class="editor-label required">Body<span>*</span></div>
                <div class="editor-field">@Html.TextAreaFor(a=>a.EmailQueue.Body)</div>
            </li>
            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    <input type="submit" class="button" value="Save" />
                    |
                    @if (Model.NotificationTrackingViewModel.People.Count == 1)
                    {
                        var userId = Model.NotificationTrackingViewModel.People[0].User.Id;
                        @Html.ActionLink("Cancel", "AdminEdit", "Person", new { id = userId, seminarId = Model.NotificationTrackingViewModel.Seminar.Id }, new { })
                    }
                    else
                    { 
                        @Html.ActionLink("Cancel", "Details", "Seminar", new { id = Model.NotificationTrackingViewModel.Seminar.Id }, new { })
                    }
                </div>
            </li>
        </ul>
    </fieldset>
    
}