@model PersonViewModel

@{
    ViewBag.Title = "Edit Profile";
    ViewBag.SubPageTitle = "Edit Profile";
}

@section SubPageNavigation
{
    <ul class="navigation">
        @if (Model.AdminEdit)
        {
            <li>@Html.ActionLink("Back to Attendees", "Index", "Attendee", new { id = Model.SeminarPerson.Seminar.Id }, new { })</li>
        }
        else
        { 
            <li>@Html.ActionLink("Back to Details", "Details", new { id = Model.Person.Id })</li>
        }
    </ul>
}

<div class="profile_pic_container">
    <img src='@Url.Action("GetProfilePicture", new { id = Model.Person.Id })' />
</div>

<div class="information_container">

    @if (Model.AdminEdit)
    {
        @Html.Partial("_AdminPersonForm")
    }
    else
    {
        using (Html.BeginForm("Edit", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            @Html.ValidationSummary(true)


            @Html.Partial("_PersonForm")        
        }
    }

</div>

<div style="clear:both;" />