@model PersonViewModel

@{
    ViewBag.Title = "Edit Profile";
    ViewBag.SubPageTitle = "Edit Profile";
}

@section SubPageNavigation
{
    @if (User.IsInRole(Agribusiness.Web.Controllers.Filters.RoleNames.User))
    { 
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to Details", "Details", new { id = Model.Person.Id })</li>
    </ul>
    }
    else
    {
        <ul class="nav nav-pills">
            <li>@Html.ActionLink("Back to Home", "Index", "Authorized")</li>
            <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
        </ul>
    }
}

<div class="row-fluid">
    <div class="span2">
        <img src='@Url.Action("GetProfilePicture", new { id = Model.Person.Id })' />
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Update Crop", "UpdateProfilePicture", new {id=Model.Person.Id})</li>
        </ul>
    </div>
    <div class="span10">
        @using (Html.BeginForm("Edit", "Person", FormMethod.Post, new { @class="form-horizontal", enctype = "multipart/form-data" }))
        { 
            @Html.ValidationSummary(true)

            @Html.Partial("_PersonForm")        
        }
    </div>
</div>

<div style="clear:both;" />