@using Agribusiness.Web.Services
@model PersonListViewModel

@{
    ViewBag.Title = "People";
    ViewBag.SubPageTitle = "People";
    ViewBag.PublicProfile = false;
    ViewBag.nav = Nav.People;
    
    var siteId = ViewData["site"] as string;
    var site = SiteService.LoadSite(siteId);
}

@section SubPageNavigation
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
    <style type="text/css">
        .tab-content { overflow: visible; }
    </style>
    
    <script type="text/javascript" src="@Url.Script("jquery.tmpl.min.js")"> </script>
    <script type="text/javascript">

        var addUrl = '@Url.Action("AddtoSiteList")';
        var removeUrl = '@Url.Action("RemoveFromSiteList")';
        var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

        $(function() {

            $('.tab-content').on('click', '.removeFromSite', function (e) {
                var id = $(this).data("id");
                var add = $('.addToSite[data-id="' + id + '"]');
                var $that = $(this);

                $.post(removeUrl, { personId: id, __RequestVerificationToken: antiForgeryToken }, function (result) {
                    if (result) {
                        add.show();
                        $that.closest("tr").hide(function () {
                            $that.closest("tr").remove();
                        });
                    }
                });

                e.preventDefault();
            });

            $('.tab-content').on('click', '.addToSite', function(e) {
                var id = $(this).data("id");
                var $that = $(this);

                $.post(addUrl, { personId: id, __RequestVerificationToken: antiForgeryToken }, function (result) {
                    if (!result) {

                    } else {
                        $("#personRowTemplate").tmpl(result).appendTo("#site tbody");
                        $that.hide();
                    }
                });

                e.preventDefault();
            });
        });
    </script>
    
    <script type="text/x-jquery-tmpl" id="personRowTemplate">
        <tr>
            <td>
                <a href="AdminEdit/${userId}" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
            </td>
            <td>${firstName}</td>
            <td>${lastName}</td>
            <td>${title}</td>
            <td>${firm}</td>
            <td>
                <a href="#" class="btn btn-danger hastip removeFromSite" rel="tooltip" title="Remove from Site List" data-id="${id}"><i class="icon-minus"></i></a>
            </td>
        </tr>
    </script>
}

@Html.AntiForgeryToken()

<ul class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Current @site.EventType</a></li>
    <li><a href="#site" data-toggle="tab">@site.Name</a></li>
    <li><a href="#master" data-toggle="tab">Master List</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="current">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.People.Where(a => a.Seminar == Model.Seminar))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.Person.User.Id, seminarId = person.Seminar.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="+ Mailing List"><i class="icon-envelope"></i></a>
                        </td>
                        <td>@person.Person.FirstName</td>
                        <td>@person.Person.LastName</td>
                        <td>@person.Title</td>
                        <td>@(person.Firm != null ? person.Firm.Name : string.Empty)</td>
                        <td>
                            @if (person.Registered)
                            {
                                <span class="label label-success">Registered</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="site">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.SitePeople.OrderBy(a => a.Person.LastName))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.Person.User.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                        </td>
                        <td>@person.Person.FirstName</td>
                        <td>@person.Person.LastName</td>
                        <td>@person.Title</td>
                        <td>@(person.Firm != null ? person.Firm.Name : string.Empty)</td>
                        <td>
                            <a href="#" class="btn btn-danger hastip removeFromSite" rel="tooltip" title="Remove from Site List" data-id="@person.Person.Id"><i class="icon-minus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="master">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th>Attended Events</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.People)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.Person.User.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                            @if (!person.Person.Sites.Contains(Model.Site))
                            {
                                <a href="#" class="btn hastip addToSite" rel="tooltip" title="Add to Site List" data-id="@person.Person.Id"><i class="icon-plus"></i></a>    
                            }
                            else
                            {
                                <a href="#" class="btn hastip addToSite" rel="tooltip" title="Add to Site List" style="display:none;" data-id="@person.Person.Id"><i class="icon-plus"></i></a>    
                            }
                        </td>
                        <td>@person.Person.FirstName</td>
                        <td>@person.Person.LastName</td>
                        <td>@person.Title</td>
                        <td>@(person.Firm != null ? person.Firm.Name : string.Empty)</td>
                        <td>
                            @foreach (var seminar in person.Person.SeminarPeople.Select( a=> a.Seminar))
                            {
                                <span class="label @(seminar.Site.Id == "executive" ? "label-info" : string.Empty)">@seminar.Year</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>