@model PersonListViewModel

@{
    ViewBag.Title = "People";
    ViewBag.SubPageTitle = "People";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@foreach (var a in Model.People)
{ 
    <fieldset style="padding: 1em;">

        <div class="profile_pic_container">
            <img src='@Url.Action("GetThumbnail", "Person", new { id = a.Person.Id })' alt='string.Format("{0}''s Profile Picture", @a.Person.FullName)' />
        </div>

        <div class="information_container">
        @if(a.Firm != null){
            
            <ul>
                <li class="name">@Html.ActionLink(a.Person.FullName, "Details", new { id = a.Person.Id })</li>
                <li class="title">@a.Title</li>
                <li>@a.Firm.Name</li>
                <li class="description">@a.Firm.Description</li>
            </ul>
            
        }else{
            
            <text>No firm has been defined for this person</text>
            
        }
        </div>

    </fieldset>
}