@using Agribusiness.Web.Services
@model PersonListViewModel

@{
    ViewBag.Title = "People";
    ViewBag.SubPageTitle = "People";
    ViewBag.PublicProfile = false;
    
    var siteId = ViewContext.RouteData.Values["site"] as string;
    var site = SiteService.LoadSite(siteId);
}

@section SubPageNavigation
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Create New", "Create")</li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
    <style type="text/css">
        .tab-content { overflow: visible;}
    </style>
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Current @site.EventType</a></li>
    <li><a href="#site" data-toggle="tab">@site.Name</a></li>
    <li><a href="#master" data-toggle="tab">Master List</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="current">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.People.Where(a => a.Seminar == Model.Seminar))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.Person.User.Id, seminarId = person.Seminar.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="+ Mailingn List"><i class="icon-envelope"></i></a>
                        </td>
                        <td>@person.Person.FirstName</td>
                        <td>@person.Person.LastName</td>
                        <td>@person.Title</td>
                        <td>@person.Firm</td>
                        <td>
                            @if (person.Registered)
                            {
                                <span class="label label-success">Registered</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="site">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Site.People.OrderBy(a => a.LastName))
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.User.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                        </td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person</td>
                        <td>@person</td>
                        <td>
                            <a href="#" class="btn btn-danger hastip" rel="tooltip" title="Remove from Site List"><i class="icon-minus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="master">
        <table class="default_table table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Firm</th>
                    <th>Last Seminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.People)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AdminEdit", new {id = person.Person.User.Id, allList = true})" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                            <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                            @if (!person.Person.Sites.Contains(Model.Site))
                            {
                                <a href="#" class="btn hastip" rel="tooltip" title="Add to Site List"><i class="icon-plus"></i></a>    
                            }
                        </td>
                        <td>@person.Person.FirstName</td>
                        <td>@person.Person.LastName</td>
                        <td>@person.Title</td>
                        <td>@person.Firm</td>
                        <td>@(person.Seminar != null ? person.Seminar.Year.ToString() : string.Empty)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>