@model IEnumerable<DisplayPerson>

@{
    ViewBag.Title = "People Site List";
    ViewBag.SubPageTitle = "People Site List";
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
    
    <script type="text/javascript">

        var removeUrl = '@Url.Action("RemoveFromSiteList")';
        var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

        $(function() {

            $('table').on('click', '.removeFromSite', function(e) {
                var id = $(this).data("id");
                var add = $('.addToSite[data-id="' + id + '"]');
                var $that = $(this);

                $.post(removeUrl, { personId: id, __RequestVerificationToken: antiForgeryToken }, function(result) {
                    if (result) {
                        add.show();
                        $that.closest("tr").hide(function() {
                            $that.closest("tr").remove();
                        });
                    }
                });

                e.preventDefault();
            });
        });
    </script>
}

<table class="default_table table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Firm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("AdminEdit", new { id = person.Person.User.Id, allList = true })" class="btn hastip" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
                    <a href="#" class="btn hastip" rel="tooltip" title="Contact Card"><i class="icon-file"></i></a>
                </td>
                <td>@person.Person.FirstName</td>
                <td>@person.Person.LastName</td>
                <td>@person.Title</td>
                <td>@(person.Firm != null ? person.Firm.Name : string.Empty)</td>
                <td>
                    <a href="#" class="btn btn-danger hastip removeFromSite" rel="tooltip" title="Remove from Site List" data-id="@person.Person.Id"><i class="icon-minus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>