@model MailingListViewModel

<div class="control-group">
    <fieldset>

        <div class="control-group">
            <label for="MailingList.Name" class="control-label">Name</label>
            <div class="controls">
                @Html.EditorFor(model => model.MailingList.Name)
                @Html.ValidationMessageFor(model => model.MailingList.Name)
            </div>
        </div>
        <div class="control-group">
            <label for="MailingList.Description" class="control-label">Description</label>
            <div class="controls">
                @Html.EditorFor(model => model.MailingList.Description)
                @Html.ValidationMessageFor(model => model.MailingList.Description)
            </div>
        </div>
        <div class="control-group">
            <label for="MailingList.Seminar" class="control-label">Seminar</label>
            <div class="controls">
                @this.Select("MailingList.Seminar").Options(Model.Seminars.OrderBy(a => a.Year), x => x.Id, x => x.Year).FirstOption("--Select Seminar--").Selected(Model.SeminarId.HasValue ? Model.SeminarId.Value.ToString() : string.Empty)
                @Html.ValidationMessageFor(model => model.MailingList.Seminar)
            </div>
        </div>
        <div class="control-group">
            <label for="MailingList.People" class="control-label">People</label>
            <div class="controls">
                @*<select id="MailingList_People" multiple="" name="MailingList.People">
                    @foreach (var person in Model.MailingList.People)
                    {
                        <option selected="" value="@person.Id">@person.FullName</option>
                    }
                </select>*@
                <select id="MailingList_People" multiple="" name="MailingList.People">
                    @foreach (var person in Model.People)
                    {
                        <option @(Model.MailingList.People.Select(a => a.Id).Contains(person.Id) ? "selected" : string.Empty) value="@person.Id">@person.FullName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.MailingList.People)
            </div>
        </div>
    </fieldset>
</div>

<div class="form-actions">
    <input class="btn btn-primary" type="submit" value="Save" />
    @Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})
</div>