@model Agribusiness.Core.Domain.MailingList

@{
    ViewBag.Title = "Delete Mailing List";
    ViewBag.SubPageTitle = "Are you sure you want to delete this mailing list?";
}

@section ScriptContent{
    <link rel="stylesheet" type="text/css" href="@Url.Css("jquery.AutoCompleteSelect.css")"/>
}

@using (Html.BeginForm("Delete", "MailingList", FormMethod.Post, new {@class="form-horizontal"})) {

    @Html.AntiForgeryToken()

    <div class="control-group">
    <fieldset>
        <div class="control-group">
            <label for="Name" class="control-label">Name</label>
            <div class="controls form-text">
                @Model.Name
            </div>
        </div>
        <div class="control-group">
            <label for="People" class="control-label">People</label>
            <div class="controls">
                <div class="well">
                    @foreach (var person in Model.People.OrderBy(a => a.LastName))
                    {
                        <span class="ac-selected ac-gradientbackground">
                            <span style="display:inline-block;">@person.FullName</span>
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="control-group">
            <label for="DateCreated" class="control-label">Date Created</label>
            <div class="controls">
                @Model.DateCreated
            </div>
        </div>
        <div class="control-group">
            <label for="DateUpdated" class="control-label">Date Updated</label>
            <div class="controls">
                @Model.DateUpdated
            </div>
        </div>
    </fieldset>
    </div>

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger"/>
        @Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})
    </div>    

}




