@model Agribusiness.Core.Domain.MailingList


@{
    ViewBag.Title = "Mailing List Details";
    ViewBag.SubPageTitle = "Mailing List Details";
}

@section ScriptContent{
    <link rel="stylesheet" type="text/css" href="@Url.Css("jquery.AutoCompleteSelect.css")"/>
    
    @Html.Partial("_dataTables")
}

@section SubPageNavigation
{
	<ul class="nav nav-pills">
		<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

<div class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label for="Name" class="control-label">Name</label>
            <div class="controls form-text">
                @Model.Name
            </div>
        </div>
        @*        <div class="control-group">
            <label for="People" class="control-label">People</label>
            <div class="controls">
                <div class="well">
                    @foreach (var person in Model.People.OrderBy(a => a.LastName))
                    {
                        <span class="ac-selected ac-gradientbackground">
                            <span style="display:inline-block;">@person.FullName</span>
                        </span>
                    }
                </div>
            </div>
        </div>*@
        <div class="control-group">
            <label for="DateCreated" class="control-label">Date Created</label>
            <div class="controls">
                @Model.DateCreated
            </div>
        </div>
        <div class="control-group">
            <label for="DateUpdated" class="control-label">Date Updated</label>
            <div class="controls">
                @Model.DateUpdated
            </div>
        </div>
    </fieldset>
</div>

<table class="default_table table table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.People.OrderBy(a => a.LastName))
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
            </tr>
        }
    </tbody>
</table>