@model IEnumerable<Agribusiness.Core.Domain.MailingList>


@{
	ViewBag.Title = "Mailing Lists";
    ViewBag.SubPageTitle = "Mailing Lists";
}

@section SubPageNavigation
{
	<ul class='nav nav-pills'>

        @if (ViewBag.SeminarId != null)
        {
            <li>@Html.ActionLink("Create New", "Create", new{seminarId = (int)ViewBag.SeminarId})</li>
            <li>@Html.ActionLink("Back to Seminar", "Details", "Seminar", new { id = (int)ViewBag.SeminarId}, new {})</li>
        }
        else
        {
            <li>@Html.ActionLink("Create New", "Create")</li>    
        }
		
	</ul>
}

@section ScriptContent{
@Html.Partial("_DataTables")
}


<table class='default_table table table-striped table-bordered'>
	<thead>
		<tr>
			<th></th>

			<th>
				Name
			</th>

			<th>
				DateCreated
			</th>

			<th>
				DateUpdated
			</th>

            <th>
                # People
            </th>

			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model)
{
		<tr>
			<td>
                <a href='@Url.Action("Details", new { id = item.Id })' class="btn hastip" rel="tooltip" title="Details">
                    <i class="icon-search"></i>
                </a>
                <a href='@Url.Action("Edit", new {id = item.Id})' class="btn hastip" rel="tooltip" title="Edit">
                    <i class="icon-pencil"></i>
                </a>
            </td>

			<td>
                <div class="hastip" title="@item.Description" style="cursor: default;">
				@item.Name
                </div>
			</td>

			<td>
				@String.Format("{0:g}", item.DateCreated)
			</td>

			<td>
				@String.Format("{0:g}", item.DateUpdated)
			</td>

            <td>
                @item.People.Count
            </td>
		
            <td>
                @if (!item.Name.StartsWith("Sys"))
                {
                <a href='@Url.Action("Delete", new { id = item.Id })' class="btn hastip" rel="tooltip" title="Delete Mailing List" >
                    <i class="icon-trash"></i>
                </a>    
                }
            </td>
		

		</tr>
}
	</tbody>
</table>




