@model ContactFirmViewModel

@{
    ViewBag.Title = "ArchiveContactFirms";
}

<h2>ArchiveContactFirms</h2>

<div>
<em>Imported Already?</em> @(Model.AlreadyImported ? "Yes" : "No")
</div>
<h3>Errors</h3>

@foreach (var a in Model.Errors)
{
    <dl>
        <dt>Record Id: @a.Key</dt>
        <dd>@a.Value</dd>
    </dl> 
}

<hr />
<h3>Records</h3>

@foreach (var a in Model.ContactFirms)
{ 
    <fieldset>
        <legend>@a.Name</legend>

        <ul>
            <li>
                <div class="label">Contact Id:</div>
                <div class="value">@a.ContactId</div>
            </li>
            <li>
                <div class="label">Firm Id:</div>            
                <div class="value">@a.FirmId</div>            
            </li>
            <li>
                <div class="label">rcf Id:</div>            
                <div class="value">@a.rcfId</div>
            </li>
        </ul>
    </fieldset>
}