@model AddAttendeeViewModel


@{
    ViewBag.Title = "Add Attendee";
    ViewBag.SubPageTitle = "Add Attendee";
}

@section SubPageNavigation
{
    <ul class='nav nav-pills'>
        <li>@Html.ActionLink("Back to List", "Index", new { id=Model.Seminar.Id })</li>
    </ul>
}

@section ScriptContent
{
    @Html.Partial("_DataTables")
}

<table class="default_table table table-striped table-bordered">

    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>MI</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Firm</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var a in Model.DisplayPeople)
    { 
        <tr>
            <td>
                <a href='@Url.Action("AddConfirm", new {id=Model.Seminar.Id, personId=a.Person.Id})' class="btn hastip" rel="tooltip" title="Select to add">
                    @*<img src='@Url.Image("details.png")' alt='@string.Format("Select {0} to be added.", a.Person.FullName)' />*@
                    <i class="icon-hand-up"></i>
                </a>
            </td>
            <td>@a.Person.FirstName</td>
            <td>@a.Person.MI</td>
            <td>@a.Person.LastName</td>
            <td>@a.Title</td>
            <td>@(a.Firm != null ? a.Firm.Name : "n/a")</td>
        </tr>        
    }
    </tbody>
</table>