@model AttendeeListViewModel

@{
    ViewBag.Title = "Attendees";
    ViewBag.SubPageTitle = "Attendees";
}

@section ScriptContent {
    <script type="text/javascript">
        $(function () {
            $("table").dataTable({ "bJQueryUI": true, "aaSorting": [[3, 'asc']], "bPaginate": false });
        });
    </script>
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Add Attendee", "Add", new {id=Model.Seminar.Id})</li>
        <li>@Html.ActionLink("Create New Attendee", "Create", "Person", new {id=Model.Seminar.Id}, new {})</li>
        <li>@Html.ActionLink("Back to Seminar", "Details", "Seminar", new {id=Model.Seminar.Id}, new{}) </li>
    </ul>
}

<table class="nolasticon">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>MI</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Firm</th>
            <th>Roles</th>
            <th>Registered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.DisplayPeople)
        { 
            <tr>
                <td>
                    <a href='@Url.Action("AdminEdit", "Person", new { id=a.Person.User.Id, seminarId=Model.Seminar.Id })'>
                        <img src='@Url.Image("edit.png")' alt='@string.Format("Edit attendee for {0}", a.Person.FullName)' />
                    </a>
                </td>
                <td>@a.Person.FirstName</td>
                <td>@a.Person.MI</td>
                <td>@a.Person.LastName</td>
                <td>@a.Title</td>
                <td>@(a.Firm != null ? a.Firm.Name : "Not Approved Yet")</td>
                <td>@string.Join(", ", a.Person.GetLatestRegistration().SeminarRoles.Select(b=>b.Name))</td>
                <td>@if (a.Registered) { <img src='@Url.Image("check.png")' alt='@string.Format("{0} has registered", a.Person.FullName)'  /> }</td>
            </tr>
        }
    </tbody>
</table>
