@using Agribusiness.Web.Services
@model AttendeeListViewModel

@{
    ViewBag.Title = "Attendees";
    ViewBag.SubPageTitle = "Attendees";

    var site = ViewContext.RouteData.Values["site"] as string;
    var seminar = SiteService.GetLatestSeminar(site);
    if (Model.Seminar.Id == seminar.Id)
    {
        ViewBag.Nav = Nav.Seminars;
    }
    
}

@section ScriptContent {
    @Html.Partial("_DataTables")
}

@section SubPageNavigation
{
    <ul class="nav nav-pills">
        <li>
            @using(Html.BeginForm("UpdateAllRegistrations", "Attendee"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("id", Model.Seminar.Id)
                <a href="javascript:;" class="submitanchor">Refresh Status</a>
            }
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Add Attendee", "Add", new {id=Model.Seminar.Id})</li>
                <li>@Html.ActionLink("Create New Attendee", "Create", "Person", new {id=Model.Seminar.Id}, new {})</li>        
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Export Pictures", "Index", "Export")</li>
                <li>@Html.ActionLink("Export Attendees", "AttendeeList", "Export")</li>        
            </ul>
        </li>
        
        <li>@Html.ActionLink("Back to Seminar", "Details", "Seminar", new {id=Model.Seminar.Id}, new{}) </li>
    </ul>
}

<table class="default_table table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>MI</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Firm</th>
            <th>Roles</th>
            <th>Registered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.DisplayPeople)
        { 
            <tr>
                <td>
                    <a href='@Url.Action("AdminEdit", "Person", new { id=a.Person.User.Id, seminarId=Model.Seminar.Id })' class="btn hastip" rel="tooltip" title="Edit Attendee">
                        @*<img src='@Url.Image("edit.png")' alt='@string.Format("Edit attendee for {0}", a.Person.FullName)' />*@
                        <i class="icon-pencil"></i>
                    </a>
                </td>
                <td>@a.Person.FirstName</td>
                <td>@a.Person.MI</td>
                <td>@a.Person.LastName</td>
                <td>@a.Title</td>
                <td>@(a.Firm != null ? a.Firm.Name : "Not Approved Yet")</td>
                <td>@string.Join(", ", a.Person.GetLatestRegistration().SeminarRoles.Select(b=>b.Name))</td>
                <td>@if (a.Registered) { <img src='@Url.Image("check.png")' alt='@string.Format("{0} has registered", a.Person.FullName)'  /> }</td>
            </tr>
        }
    </tbody>
</table>
