@model Agribusiness.Core.Domain.Application

@{
    ViewBag.Title = "Decide";
    ViewBag.SubPageTitle = "Decide";
    ViewBag.Nav = Nav.Applications;
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@section ScriptContent
{
    <style type="text/css">
        form {display:inline-block;}
        #commentsResult {margin-left: 40px; color: gray; font-style: italic;}
        #commentsLoading {display:none;} 
    </style>

    <script type="text/javascript">

        var saveCommentsUrl = '@Url.Action("SaveComments")';
        var antiforgeryToken;

        $(function () {

            antiforgeryToken = $('input[name="__RequestVerificationToken"]').val();

            $("textarea#Reason").change(function () {
                $(".decision_reason").val($(this).val());
            });

            $("#saveComments").click(function () {
                var id = '@Model.Id';
                var txt = $("#Reason").val();
                $("#commentsLoading").show();
                $.post(saveCommentsUrl, {id: id, comments: txt, __RequestVerificationToken: antiforgeryToken}, function(result){
                    $("#commentsResult").html(result);
                    $("#commentsLoading").hide();
                });

            });

            $("a.button").button();
        });
    </script>
}

@Html.AntiForgeryToken()

@Html.ValidationSummary(false)

<div class="row-fluid">
    
    <div class="span2">
        <img src='@Url.Action("GetApplicationPhoto", new { id = Model.Id })' />

        <div class="well" style="margin: 1em 0;"><em>*Photo may be distorted because it has not been cropped yet.</em></div>
        <a href="@Url.Action("DownloadOriginalPhoto", new { id = Model.Id })" target="_blank" >Download Photo</a>
    </div>

    <div class="span10">
        <div class="form-horizontal">
            <div class="control-group">
        
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="control-group">
                        <label for="name" class="control-label">Name</label>
                        <div class="controls form-text">@Model.FullName</div>
                    </div>
                    <div class="control-group">
                        <label for="badgename" class="control-label">Badge Name</label>
                        <div class="controls form-text">
                            @Model.BadgeName
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="datesubmitted" class="control-label">Date Submitted</label>
                        <div class="controls form-text">
                            @String.Format("{0:g}", Model.DateSubmitted)
                        </div>
                    </div>
                </fieldset>  
                
                <fieldset>
                    <legend>Firm Information</legend>

                    @if (Model.Firm != null)
                    { 
                        <div class="control-group">
                            <label for="FirmName" class="control-label">Name:</label>
                            <div class="controls form-text">
                                @Model.Firm.Name
                                @Html.ActionLink("Edit Firm", "Edit", "Firm", new { id = @Model.Firm.Id, decissionId = @Model.Id }, new {style = "margin-left: 20px;", @class="btn"})
                            </div>   
                        </div>
           
                        <div class="control-group">
                            <label for="Description" class="control-label">Description:</label>
                            <div class="controls form-text">
                                @Model.Firm.Description
                            </div>
                        </div>    
                    }
                    else
                    { 
                        <div class="control-group">
                            <label for="FirmName" class="control-label">Name:</label>
                            <div class="controls form-text">@Model.FirmName</div>
                        </div>
                        <div class="control-group">
                            <label for="" class="control-label">Description</label>
                            <div class="controls form-text">@Model.FirmDescription</div>
                        </div>
                    }

                    <div class="control-group">
                        <label for="" class="control-label">Firm Type:</label>
                        <div class="controls form-text">
                            @(Model.FirmType != null ? (Model.FirmType.Name == "Other" ? Model.OtherFirmType : Model.FirmType.Name) : "n/a")
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="" class="control-label">Address Line 1:</label>
                        <div class="controls form-text">@Model.FirmAddressLine1</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Address Line 2:</label>
                        <div class="controls form-text">@Model.FirmAddressLine2</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">City:</label>
                        <div class="controls form-text">@Model.FirmCity</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">State:</label>
                        <div class="controls form-text">@Model.FirmState</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Zip:</label>
                        <div class="controls form-text">@Model.FirmZip</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Country</label>
                        <div class="controls form-text">@Model.Country.Name</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Phone</label>
                        <div class="controls form-text">
                            @Model.FirmPhone
                            @if(!string.IsNullOrWhiteSpace(Model.FirmPhoneExt))
                            { <text>Ext. @Model.FirmPhoneExt</text> }
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Website:</label>
                        <div class="controls form-text">@Model.Website</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Job Title:</label>
                        <div class="controls form-text">@Model.JobTitle</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Responsibilities:</label>
                        <div class="controls form-text">@Model.Responsibilities</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Commodities:</label>
                        <div class="controls form-text">
                            @{
                                Model.Commodities.Add(new Commodity() { Name = Model.OtherCommodity });
                            }
                            @string.Join(", ", Model.Commodities.Select(a => a.Name))
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Communication Options</legend>

                    <div class="control-group">
                        <div class="controls form-text">
                            @Model.CommunicationOption.Description
                        </div>
                    </div>
                </fieldset>
                  
                <fieldset>
                    <legend>Assistant</legend>
                
                    <div class="control-group">
                        <label for="" class="control-label">Assistant Name</label>
                        <div class="controls form-text">
                            @*@Model.AssistantFirstName &nbsp; @Model.AssistantLastName*@
                            @string.Format("{0} {1}", Model.AssistantFirstName, Model.AssistantLastName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Assistant Phone</label>
                        <div class="controls form-text">@Model.AssistantPhone</div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Assistant Email</label>
                        <div class="controls form-text">@Model.AssistantEmail</div>
                    </div>
                </fieldset>
        
                <fieldset>
                    <legend>Expectations</legend>

                    <div class="control-group">@Model.Expectations</div>

                </fieldset>          
                
                <fieldset>
                    <legend>Make Decision</legend>

                    <div class="control-group">
                        <label for="decisionreason" class="control-label">Decision Reason/Comments</label>
                        <div class="controls">
                            @Html.TextArea("Reason", Model.DecisionReason, new {@class="span6"})
                        </div>
                        <div class="controls">
                            <a href="javascript:;" id="saveComments" class="btn">Save Comments</a>
                            <span id="commentsLoading"><img src='@Url.Image("loading.gif")' alt="Saving Comment Indicator" /></span>
                            <span id="commentsResult"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        
        <div class="form-horizontal">
            <div class="form-actions">
                @if (Model.IsPending)
                    {
                        using (Html.BeginForm())
                        { 
                            @Html.AntiForgeryToken()
                            @Html.Hidden("isApproved", true)
                            @Html.Hidden("reason", string.Empty, new { @class = "decision_reason" })
                            <input type="submit" value="Approve" class="btn btn-primary" />
                        }
                        
                        <div style="margin: 0 1em; display: inline-block;">
                        @using (Html.BeginForm())
                        { 
                            @Html.AntiForgeryToken()
                            @Html.Hidden("isApproved", false)
                            @Html.Hidden("reason", string.Empty, new { @class = "decision_reason" })
                            <input type="submit" value="Deny" class="btn btn-danger" />
                        }
                        </div>

                        <text>@Html.ActionLink("Cancel", "Index", new {}, new {@class="btn"})</text>
                    }
                    else
                    {
                        if (Model.IsApproved)
                        {
                            <text>This application has been approved</text>
                        }
                        else
                        {
                            <text>This application has been denied</text>
                        }
                    }
            </div>
        </div>
    </div>
</div>

<div style="clear:both;" />