@model Agribusiness.Core.Domain.Application

@{
    ViewBag.Title = "Decide";
    ViewBag.SubPageTitle = "Decide";
}

@section SubPageNavigation
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@section ScriptContent
{
    <style type="text/css">
        form {display:inline-block;}
        #commentsResult {margin-left: 40px; color: gray; font-style: italic;}
        #commentsLoading {display:none;} 
    </style>

    <script type="text/javascript">

        var saveCommentsUrl = '@Url.Action("SaveComments")';
        var antiforgeryToken;

        $(function () {

            antiforgeryToken = $('input[name="__RequestVerificationToken"]').val();

            $("textarea#Reason").change(function () {
                $(".decision_reason").val($(this).val());
            });

            $("#saveComments").click(function () {
                var id = '@Model.Id';
                var txt = $("#Reason").val();
                $("#commentsLoading").show();
                $.post(saveCommentsUrl, {id: id, comments: txt, __RequestVerificationToken: antiforgeryToken}, function(result){
                    $("#commentsResult").html(result);
                    $("#commentsLoading").hide();
                });

            });
        });
    </script>
}

@Html.AntiForgeryToken()

<div>
<div class="profile_pic_container">
    <img src='@Url.Action("GetApplicationPhoto", new { id = Model.Id })' />

    <div><em>*Photo may be distorted becuase it has not been cropped yet.</em></div>
</div>

<div class="profile_information_container">
<div class="display-form">

    <fieldset>
        <legend>Personal Information</legend>
	    <ul>
		    <li>
			    <div class="display-label">Name:</div>
			    <div class="display-details">@Model.FullName</div>
		    </li>
            <li>
                <div class="display-label">Badge Name:</div>
                <div class="display-details"></div>
            </li>
            <li>
		        <div class="display-label">DateSubmitted</div>
		        <div class="display-details">@String.Format("{0:g}", Model.DateSubmitted)</div>
	        </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Firm Information</legend>

        <ul>
        @if (Model.Firm != null)
        { 
            <li>
			    <div class="display-label">Name:</div>
			    <div class="display-details">@Model.Firm.Name</div>
		    </li>
		    <li>
			    <div class="display-label">Description:</div>
			    <div class="display-details">@Model.Firm.Description</div>
		    </li>    
        }
        else
        { 
            <li>
			    <div class="display-label">Name:</div>
			    <div class="display-details">@Model.FirmName</div>
		    </li>
		    <li>
			    <div class="display-label">Description:</div>
			    <div class="display-details">@Model.FirmDescription</div>
		    </li>
        }


		<li>
			<div class="display-label">Address Line 1:</div>
			<div class="display-details">@Model.FirmAddressLine1</div>
		</li>
		<li>
			<div class="display-label">Address Line 2:</div>
			<div class="display-details">@Model.FirmAddressLine2</div>
		</li>
		<li>
			<div class="display-label">City:</div>
			<div class="display-details">@Model.FirmCity</div>
		</li>
        <li>
            <div class="display-label">State:</div>
            <div class="display-details">@Model.FirmState</div>
        </li>
		<li>
			<div class="display-label">Zip:</div>
			<div class="display-details">@Model.FirmZip</div>
		</li>
		<li>
			<div class="display-label">Country:</div>
			<div class="display-details">@Model.Country.Name</div>
		</li>
		<li>
			<div class="display-label">Phone:</div>
			<div class="display-details">
                @Model.FirmPhone
                @if (!string.IsNullOrWhiteSpace(Model.FirmPhoneExt)) { <tex>Ext. @Model.FirmPhoneExt</tex> }
            </div>
		</li>
		<li>
			<div class="display-label">Website:</div>
			<div class="display-details">@Model.Website</div>
		</li>
		<li>
			<div class="display-label">Job Title:</div>
			<div class="display-details">@Model.JobTitle</div>
		</li>
		<li>
			<div class="display-label">Responsibilities:</div>
			<div class="display-details">@Model.Responsibilities</div>
		</li>
        <li>
            <div class="display-label">Commodities:</div>
            <div class="display-details">@string.Join(", ", Model.Commodities.Select(a=>a.Name))</div>
        </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Communication Options</legend>

        <ul>
            <li>
                @Model.CommunicationOption.Description
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Assistant</legend>

        <ul>
        <li>
			<div class="display-label">AssistantName</div>
			<div class="display-details">@Model.AssistantName</div>
		</li>
		<li>
			<div class="display-label">AssistantPhone</div>
			<div class="display-details">@Model.AssistantPhone</div>
		</li>
		<li>
			<div class="display-label">AssistantEmail</div>
			<div class="display-details">@Model.AssistantEmail</div>
		</li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Expectations</legend>

        <p>@Model.Expectations</p>

    </fieldset>

    <fieldset>
        <legend>Make Decision</legend>

        Decision Reason/Comments:<br />
        @Html.TextArea("Reason", Model.DecisionReason, new { @style="height: 100px; width: 700px;" })
        <br />
        <div>
            <a href="javascript:;" id="saveComments">Save Comments</a>
            <span id="commentsLoading"><img src='@Url.Image("loading.gif")' alt="Saving Comment Indicator" /></span>
            <span id="commentsResult"></span>
        </div>
        
        <br /><br />
        @using (Html.BeginForm()) { 
            @Html.AntiForgeryToken()
            @Html.Hidden("isApproved", true)
            @Html.Hidden("reason", string.Empty, new { @class="decision_reason" })
            <input type="submit" value="Approve" class="button" />
        }
        |
        @using (Html.BeginForm()) { 
            @Html.AntiForgeryToken()
            @Html.Hidden("isApproved", false)
            @Html.Hidden("reason", string.Empty, new { @class = "decision_reason" })
            <input type="submit" value="Deny" class="button" />
        }
        |
        @Html.ActionLink("Cancel", "Index")
    </fieldset>
</div>
</div>
</div>

<div style="clear:both;" />