@model IEnumerable<Application>

@{
    ViewBag.Title = "Seminar Applications";
    ViewBag.SubPageTitle = "Seminar Applications";
    ViewBag.Nav = Nav.Applications;
}

@section ScriptContent{
    @Html.Partial("_DataTables")
}

<table class="default_table table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>
				FirstName
			</th>
			<th>
				MI
			</th>
			<th>
				LastName
			</th>
			<th>
				Expectations
			</th>
            <th>Date Submitted</th>
            <th>Status</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
                <a href='@Url.Action("Decide", new { id=item.Id })' class="btn hastip" rel="tooltip" title="Decide on application">
                    <i class="icon-pencil"></i>
                </a>
			</td>
			<td>
				@item.FirstName
			</td>
			<td>
				@item.MI
			</td>
			<td>
				@item.LastName
			</td>
			<td>
				@item.Expectations
			</td>
            <td>
                @item.DateSubmitted.ToString("g")
            </td>
            <td>
                @if (item.IsPending)
                {
                    <span class="label label-info">Pending</span>
                }
                else
                {
                    if (item.IsApproved)
                    {
                        <span class="label label-success">Approved</span>
                    }
                    else
                    {
                        <span class="label label-important">Denied</span>
                    }
                }
            </td>
		</tr>
}
	</tbody>
</table>

